<div  ng-show="hasPermission('employee:cre')" ng-controller="addNewEmployeeController as employee">
    <div class="row">
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class=" box-solid" style="background: transparent">
            <div class="box-header">
                <h1 class="box-title"><span translate="com.app.ind.label.property.name" translate-values="{name:'employee'}"></span></h1>

            </div>

            <div class="box-body"   >
                <form role="form" ng-submit="saveEmployee(addEmployeeF.$invalid)" name="addEmployeeF" novalidate>
                    <div class="col-sm-10">
                        <!--name-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="name"><span translate="com.app.ind.employee.label.name"></span>*</label>
                                <input type="text" autocomplete="off" ng-model="employee.name" ng-required="true" name="name"  url-name="/employee/nameExist"
                                       class-name="employee" maxlength="15" ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control" id="name"  name-validate
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.label.name')} }}">
                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.label.name"></span></b> <span translate="com.app.ind.label.validation"></span>:</h4>
                                    <ul>
                                        <li ng-class="nameValidLength"><span translate="com.app.ind.label.atLeast"></span>
                                            <b translate="com.app.ind.label.character" translate-values="{number:'5'}"></b></li>
                                        <li ng-class="nameExist"><span translate="com.app.ind.label.unique"></span></li>
                                    </ul>
                                </div>

                                <span class="label label-danger"
                                      translate="com.app.ind.label.name.cannot.null" translate-values="{value:translateKey('com.app.ind.label.name')}"
                                      ng-show="addEmployeeF.name.$error.required && addEmployeeF.$submitted"
                                        ></span>
                            </div>

                        </div>
                        <!--fullName-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputfullName"><span translate="com.app.ind.employee.label.fullName"></span></label>
                                <input type="fullName" name="fullName" ng-model="employee.fullName"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       fullName-validate 
                                       type="fullName" id="inputfullName"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.fullName')} }}">

                            </div>
                        </div>
                        <!--sirName-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputsirName"><span translate="com.app.ind.employee.label.sirName"></span></label>
                                <input type="sirName" name="sirName" ng-model="employee.sirName"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       sirName-validate
                                       type="sirName" id="inputsirName"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.sirName')} }}">

                            </div>
                        </div>
                        <!--dateOfBirth-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputdateOfBirth"><span translate="com.app.ind.employee.label.dateOfBirth"></span></label>
                                <input type="dateOfBirth" name="dateOfBirth" ng-model="employee.dateOfBirth"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       dateOfBirth-validate
                                       type="dateOfBirth" id="inputdateOfBirth"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.dateOfBirth')} }}">

                            </div>
                        </div>
                        <!-- reference -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputreference"><span translate="com.app.ind.employee.label.reference"></span></label>
                                <input type="reference" name="reference" ng-model="employee.reference"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       reference-validate 
                                       type="reference" id="inputreference"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.reference')} }}">


                            </div>
                        </div>
                        <!--address-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputaddress"><span translate="com.app.ind.employee.label.address"></span></label>
                                <input type="address" name="address" ng-model="employee.address"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       address-validate 
                                       type="address" id="inputaddress"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.address')} }}">

                            </div>
                        </div>
                        <!--idCard-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputidCard"><span translate="com.app.ind.employee.label.idCard"></span></label>
                                <input type="idCard" name="idCard" ng-model="employee.idCard"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       idCard-validate
                                       type="idCard" id="inputidCard"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.idCard')} }}">

                            </div>
                        </div>
                        <!-- mobileNumberPrimary -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputmobileNumberPrimary"><span translate="com.app.ind.employee.label.mobileNumber,primary"></span></label>
                                <input type="mobileNumberPrimary" name="mobileNumber" ng-model="employee.mobileNumberPrimary"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       mobileNumber-validate
                                       type="mobileNumberPrimary" id="inputmobileNumberPrimary"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.mobileNumberPrimary')} }}">

                            </div>
                             <span class="label label-danger"
                                   translate="com.app.ind.label.mobileNumber.cannot.null"
                                   translate-values="{value:translateKey('com.app.ind.label.name')}"
                                   ng-show="addEmployeeF.mobileNumberPrimary.$error.required && addEmployeeF.$submitted"
                                     ></span>
                        </div>
                        <!-- mobileNumberSecondary -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputmobileNumberSecondary"><span translate="com.app.ind.employee.label.mobileNumber,secondary"></span></label>
                                <input type="mobileNumberSecondary" name="mobileNumber" ng-model="employee.mobileNumberSecondary"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       mobileNumber-validate
                                       type="mobileNumberSecondary" id="inputmobileNumberSecondary"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.mobileNumberSecondary')} }}">

                            </div>
                             <span class="label label-danger"
                                   translate="com.app.ind.label.mobileNumber.cannot.null"
                                   translate-values="{value:translateKey('com.app.ind.label.name')}"
                                   ng-show="addEmployeeF.mobileNumberSecondary.$error.required && addEmployeeF.$submitted"
                                     ></span>
                        </div>
                        <!--email-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputEmail"><span translate="com.app.ind.employee.label.email"></span></label>
                                <input type="text"  class="immediate-help form-control"
                                       ng-model-options="{ debounce: 250 }"
                                       email-validate autocomplete="off"  ng-model="employee.email" id="inputEmail"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.email')} }}"/>
                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.employee.label.email"></span></b> <span translate="com.app.ind.label.validation"></span>::</h4>
                                    <ul>
                                        <li ng-class="emailValidator"><span translate="com.app.ind.label.valid"></span></strong></li>
                                        <li ng-class="emailExist"><span translate="com.app.ind.label.unique"></span></li>
                                    </ul>
                                </div>

                            </div>
                            <input type="hidden"
                                   ng-model="employee.createdBy" id="createdBy" >
                            <input type="hidden"
                                   ng-model="employee.updatedBy" id="updatedBy" >
                        </div>
                        <!-- designation -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputdesignation"><span translate="com.app.ind.employee.label.designation"></span></label>
                                <input type="designation" name="designation" ng-model="employee.designation"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       designation-validate 
                                       type="designation" id="inputdesignation"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.designation')} }}">
                            </div>
                        </div>
                        <!-- salary -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputsalary"><span translate="com.app.ind.employee.label.salary"></span></label>
                                <input type="salary" name="salary" ng-model="employee.salary"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       salary-validate 
                                       type="salary" id="inputsalary"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.salary')} }}">

                            </div>
                        </div>
                        <!--status-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="status"><span translate="com.app.ind.employee.label.status"></span></label>
                                <div>
                                    <input
                                            bs-switch
                                            ng-model="employee.status"
                                            type="checkbox"
                                            switch-active="{{ status }}"
                                            switch-readonly="{{ isReadonly }}"
                                            switch-size=" mini "
                                            switch-animate="{{ animate }}"
                                            switch-label="Active"
                                            switch-icon="{{ icon }}"
                                            switch-on-text="Yes"
                                            switch-off-text="No"
                                            switch-on-color="info"
                                            switch-off-color="danger"
                                            switch-inverse="{{ inverse }}"
                                            ng-true-value="'YES'"
                                            ng-false-value="'NO'">
                                </div>

                            </div>
                        </div>
                        <!-- deActivateReason -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputdeActivateReason"><span translate="com.app.ind.employee.label.deActivateReason"></span></label>
                                <input type="deActivateReason" name="deActivateReason" ng-model="employee.deActivateReason"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       deActivateReason-validate 
                                       type="deActivateReason" id="inputdeActivateReason"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.employee.label.deActivateReason')} }}">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="col-lg-6" align="center" >
                                <button type="submit" class="btn btn-primary" ng-click="addEmployeeF.$submitted=true">
                                    <span translate="com.app.ind.label.create"></span></button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>




</div>

