<!--<%--
  Created by IntelliJ IDEA.
  employee: Umar
  Date: 11/7/14
  Time: 6:34 PM
--%>-->
        <div ng-controller="detailEmployeeController" ng-show="hasPermission('employee:show')">
            <div class="modal-header">
                <h1><span translate="com.app.ind.label.show"
                 translate-values="{className:translateKey('com.app.ind.label.employee'),name:employee.name}"></span></h1>

            </div>
            <div class="modal-body">
                <dl>
                    <dt><span translate="com.app.ind.employee.label.name"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"employee.name","permission":"employee:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityEmployee($data,employee,'name')">{{employee.name || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.fullName"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"employee.fullName","permission":"employee:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityEmployee($data,employee,'fullName')">{{employee.fullName || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.sirName"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"employee.sirName","permission":"employee:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityEmployee($data,employee,'sirName')">{{employee.sirName || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.dateOfBirth"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"employee.dateOfBirth","permission":"employee:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityEmployee($data,employee,'dateOfBirth')">{{employee.dateOfBirth || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.idCard"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"employee.idCard","permission":"employee:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityEmployee($data,employee,'idCard')">{{employee.idCard || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.reference"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"employee.reference","permission":"employee:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityEmployee($data,employee,'reference')">{{employee.reference || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.address"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"employee.address","permission":"employee:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityEmployee($data,employee,'address')">{{employee.address || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.mobileNumber.primary"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"employee.mobileNumberPrimary","permission":"employee:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityEmployee($data,employee,'mobileNumberPrimary')">{{employee.mobileNumberPrimary || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.mobileNumber.secondary"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"employee.mobileNumbersecondary","permission":"employee:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityEmployee($data,employee,'mobileNumbersecondary')">{{employee.mobileNumbersecondary || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.email"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"employee.email","permission":"employee:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityEmployee($data,employee,'email')">{{employee.email || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.designation"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"employee.designation","permission":"employee:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityEmployee($data,employee,'designation')">{{employee.designation || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.salary"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"employee.salary","permission":"employee:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityEmployee($data,employee,'salary')">{{employee.salary || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.deactivateReason"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"employee.deactivateReason","permission":"employee:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityEmployee($data,employee,'deactivateReason')">{{employee.deactivateReason || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>

                <div class="divider"></div>
                <dl>
                <dt><span translate="com.app.ind.employee.label.status"> </span></dt>
                    <dd>
                        <a  exeditable='{"type":"checkbox","model":"employee.status","permission":"employee:update"}'
                            e-valid blur="cancel"  buttons="no"
                            e-title="{{employee.status && ('com.app.ind.employee.label.block' | translate) || ('com.app.ind.employee.label.active' | translate)}}"
                            onbeforesave="editEntityEmployee($data,employee,'status')">
                            {{ employee.status && ('com.app.ind.employee.label.active' | translate) || ('com.app.ind.employee.label.block' | translate) }}
                        </a>
                    </dd>
               </dl>
                <dl>
                    <dt><span translate="com.app.ind.label.dateCreated"> </span></dt>
                    <dd>{{(employee.dateCreated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar }} </dd>
                </dl>
                <div class="divider"></div>

                <dl>
                    <dt><span translate="com.app.ind.label.lastUpdated"> </span></dt>
                    <dd>{{(employee.lastUpdated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar  }}</dd>
                </dl>

                <dl>
                    <dt><span translate="com.app.ind.user.label.createdBy"> </span> </dt>
                    <dd  ><a ng-show="hasPermission('user:show')" href="#/employee/user/{{createdByUser.id}}">{{createdByUser.username}}</a></dd>
                    <span ng-show="!hasPermission('user:show')">{{createdByUser.username}}</span>
                </dl>
                <dl>
                    <dt><span translate="com.app.ind.user.label.updatedBy"> </span> </dt>
                    <dd ><a  ng-show="hasPermission('user:show')" href="#/employee/user/{{updatedByUser.id}}">{{updatedByUser.username}}</a>
                    <span ng-show="!hasPermission('user:show')">{{updatedByUser.username}}</span>
                    </dd>
                </dl>
            </div>

        </div>



