<div ng-show="hasPermission('employee:index')" class="content" ng-controller="listEmployeeController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.app.ind.label.list"  translate-values="{name:translateKey('com.app.ind.label.employee')}"></span>
                            </div>
                            <div class="pull-right">
                                <button  ng-if="hasPermission('employee:delete')" id="tesyt" class="btn btn-danger btn-xs"
                                         ng-click="deletedSelected()" ng-show="getCheckedemployees().length > 0 ">

                                    <i class="glyphicon glyphicon-trash"></i> <span translate="com.app.ind.label.delete"></span>
                                </button>
                                <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs"><span translate="com.app.ind.label.clear.sorting"></span>
                                </button>
                                <button ng-controller="addNewEmployeeController"  ng-if="hasPermission('employee:create')"
                                        class="btn btn-primary btn-xs" ng-click="addNew()">
                                    <i class="glyphicon glyphicon-plus-sign"></i> <span translate="com.app.ind.label.create"></span></button>
                            </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding ">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams"  show-filter="true"
                               class="table table-condensed table-bordered">

                            <tr ng-repeat="employee in employees" class="tableRow">

                                <td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
                                    <input class="checkboxTable" type="checkbox" ng-model="employee.checked"/>
                                </td>
                                <td data-title="'com.app.ind.employee.label.name' | translate" filter="{ 'name': 'text' }" sortable="'name'">
                                    <span  exeditable='{"type":"text","model":"employee.name","permission":"employee:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityEmployee($data,employee,'name')">
                                        {{employee.name || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.employee.label.sirName' | translate" filter="{ 'sirName': 'text' }" sortable="'sirName'">
                                    <span  exeditable='{"type":"text","model":"employee.sirName","permission":"employee:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityEmployee($data,employee,'sirName')">
                                        {{employee.sirName || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.employee.label.mobileNumber.primary' | translate" filter="{ 'mobileNumberPrimary': 'text' }" sortable="'mobileNumberPrimary'">
                                    <span  exeditable='{"type":"text","model":"employee.mobileNumberPrimary","permission":"employee:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityEmployee($data,employee,'mobileNumberPrimary')">
                                        {{employee.mobileNumberPrimary || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.employee.label.designation' | translate"  filter="{ 'designation': 'text' }" sortable="'designation'">
                                     <span exeditable='{"type":"text","model":"employee.designation","permission":"employee:update"}'
                                           blur="cancel" buttons="no" e-valid
                                           onbeforesave="editEntityEmployee($data,employee,'designation')">
                                            {{employee.designation || ('com.app.ind.label.empty' | translate)}}</i>

                                     </span>
                                </td>
                                <td data-title="'com.app.ind.employee.label.salary' | translate"  filter="{ 'salary': 'text' }" sortable="'salary'">
                                     <span exeditable='{"type":"text","model":"employee.salary","permission":"employee:update"}'
                                              blur="cancel" buttons="no" e-valid
                                           onbeforesave="editEntityEmployee($data,employee,'salary')">
                                            {{employee.salary || ('com.app.ind.label.empty' | translate)}}</i>

                                     </span>

                                </td>
                                <td  data-title="'com.app.ind.employee.label.status' | translate" filter="{ 'status': 'select' }"
                                     filter-data="isActiveStatus()" sortable="'status'">
                                    <a  exeditable='{"type":"checkbox","model":"employee.status","permission":"employee:activateOrBlockemployee"}'
                                        e-valid blur="cancel" buttons="no"
                                        e-title="{{employee.status && ('com.app.ind.employee.label.block' | translate) || ('com.app.ind.employee.label.status' | translate)}}"
                                        onbeforesave="editEntityEmployee($data,employee,'status')">
                                        {{ employee.status && ('com.app.ind.employee.label.active' | translate) || ('com.app.ind.employee.label.block' | translate) }}
                                    </a>

                                </td>

                                <td   data-title="'com.app.ind.label.action' | translate">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>

                                        <ul ng-if="hasPermission('employee:show') || hasPermission('employee:delete')" class="dropdown-menu pull-right" id="myUll">
                                            <li>

                                                <a  href="#/employee/details/{{employee.id}}" ng-if="hasPermission('employee:show')"  ><i
                                                        class="glyphicon glyphicon-info-sign"> <span translate="com.app.ind.label.detail"></span></i>
                                                </a>

                                            </li>
                                            <li>

                                                <a  ng-if="hasPermission('employee:delete')" ng-click="deleteemployee($index)" ><i
                                                        class="glyphicon glyphicon-remove"> <span translate="com.app.ind.label.delete"></span></i>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type='checkbox' class="checkboxTable" ng-show="employees.length > 0" ng-checked="allChecked()" ng-model="allchecked" ng-change="checkAll(allchecked)" >
</script>
<script type="text/ng-template" id="ng-table/filters/age.html">
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="Yes" /> <span translate="com.app.ind.label.active"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="No" /> <span translate="com.app.ind.label.block"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age"  /> <span translate="com.app.ind.label.all"></span>
</script>





