<!--<%--
  Created by IntelliJ IDEA.
  booking: Umar
  Date: 11/7/14
  Time: 6:34 PM
--%>-->
        <div ng-controller="detailBookingController" ng-show="hasPermission('booking:show')">
            <div class="modal-header">
                <h1><span translate="com.app.ind.label.show"
                 translate-values="{className:translateKey('com.app.ind.label.booking'),name:booking.name}"></span></h1>

            </div>
            <div class="modal-body">
                <dl>
                    <dt><span translate="com.app.ind.booking.label.bookingDate"> </span> </dt>
                    <dd><span exeditable='{"type":"date","model":"booking.bookingDate","permission":"booking:update"}'
                              blur="submit" buttons="no"
                              onbeforesave="editEntityBooking($data,booking,'bookingDate')">
                         {{((booking.bookingDate | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' ) || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.booking.label.customerName"> </span> </dt>
                    <dd><a href="#" blur="cancel" class="chosen-select" onshow="chosenSelect()"
                           buttons="no" exeditable='{"type":"select","model":"booking.customerName","permission":"booking:update"}'
                           onbeforesave="editEntityBooking($data,booking,'customer')"

                           e-ng-options="customer.id as customer.name for customer in customerList">
                        {{ (customerList | filter : booking.customer)[0].name   || 'not set' }}
                    </a></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.booking.label.committedDate"> </span> </dt>
                    <dd><span exeditable='{"type":"date","model":"booking.committedDate","permission":"booking:update"}'
                              blur="submit" buttons="no"
                              onbeforesave="editEntityBooking($data,booking,'committedDate')">
                        {{((booking.committedDate | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' )|| ("com.app.ind.label.empty" | translate)}}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.booking.label.estimatedTime"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"booking.estimatedTime","permission":"booking:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityBooking($data,booking,'estimatedTime')">{{booking.estimatedTime || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.booking.label.description"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"booking.description","permission":"booking:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityBooking($data,booking,'description')">{{booking.description || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.label.dateCreated"> </span></dt>
                    <dd>{{(booking.dateCreated | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' }} </dd>
                </dl>
                <div class="divider"></div>

                <dl>
                    <dt><span translate="com.app.ind.label.lastUpdated"> </span></dt>
                    <dd>{{(booking.lastUpdated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar  }}</dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.user.label.createdBy"> </span> </dt>
                    <dd  ><a ng-show="hasPermission('user:show')" href="#/booking/user/{{createdByUser.id}}">{{createdByUser.username}}</a></dd>
                    <span ng-show="!hasPermission('user:show')">{{createdByUser.username}}</span>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.user.label.updatedBy"> </span> </dt>
                    <dd ><a  ng-show="hasPermission('user:show')" href="#/booking/user/{{updatedByUser.id}}">{{updatedByUser.username}}</a>
                    <span ng-show="!hasPermission('user:show')">{{updatedByUser.username}}</span>
                    </dd>
                </dl>
            </div>

        </div>



