<div ng-show="hasPermission('booking:index')" class="content" ng-controller="listBookingController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.app.ind.label.list"  translate-values="{name:translateKey('com.app.ind.label.booking')}"></span>
                            </div>
                            <div class="pull-right">
                                <button  ng-if="hasPermission('booking:delete')" id="tesyt" class="btn btn-danger btn-xs"
                                         ng-click="deletedSelected()" ng-show="getCheckedbookings().length > 0 ">

                                    <i class="glyphicon glyphicon-trash"></i> <span translate="com.app.ind.label.delete"></span>
                                </button>
                                <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs"><span translate="com.app.ind.label.clear.sorting"></span>
                                </button>
                                <a href="#/booking/create"   ng-if="hasPermission('booking:create')"
                                        class="btn btn-primary btn-xs" ng-click="addNew()">
                                    <i class="glyphicon glyphicon-plus-sign"></i> <span translate="com.app.ind.label.create"></span></a>
                            </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding ">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams"  show-filter="true"
                               class="table table-condensed table-bordered">

                            <tr ng-repeat="booking in bookings" class="tableRow">

                                <td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
                                    <input class="checkboxTable" type="checkbox" ng-model="booking.checked"/>
                                </td>


                                <td data-title="'com.app.ind.booking.label.bookingDate' | translate" >
                                    <span   exeditable='{"type":"date","model":"booking.bookingDate","permission":"booking:update"}'
                                           blur="submit" buttons="no"  onaftersave="editEntityBooking($data,booking,'bookingDate')">
                                        {{(booking.bookingDate | date:'MM-dd-yyyy ')  }}</span>
                                </td>
                                <td data-title="'com.app.ind.booking.label.customerName' | translate">
                                   <!-- <span  exeditable='{"type":"checkbox","model":"booking.customerName","permission":"booking:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityBooking($data,booking,'customerName')">
                                        {{booking.customerName || ('com.app.ind.label.empty' | translate) }}</span>
-->
                                    <a href="#" blur="cancel" class="chosen-select" onshow="chosenSelect()" buttons="no" exeditable='{"type":"select","model":"booking.customerName","permission":"customer:update"}'
                                       onbeforesave="editEntityBooking($data,booking,'customer')"

                                       e-ng-options="customer.id as customer.name for customer in customerList">
                                        {{ (customerList | filter : booking.customer)[0].name   || 'not set' }}
                                    </a>
                                </td>
                                <td data-title="'com.app.ind.booking.label.estimatedTime' | translate" >
                                    <span  exeditable='{"type":"text","model":"booking.estimatedTime","permission":"booking:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityBooking($data,booking,'estimatedTime')">
                                        {{booking.estimatedTime || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.booking.label.description' | translate" >
                                    <span  exeditable='{"type":"text","model":"booking.description","permission":"booking:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityBooking($data,booking,'description')">
                                        {{booking.description || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.booking.label.committedDate' | translate" >
                                    <span   exeditable='{"type":"date","model":"booking.committedDate","permission":"booking:update"}'
                                           blur="submit" buttons="no"  onaftersave="editEntityBooking($data,booking,'committedDate')">
                                        {{(booking.committedDate | date:'MM-dd-yyyy')  }}</span>
                                </td>

                                <td   data-title="'com.app.ind.label.action' | translate">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>

                                        <ul ng-if="hasPermission('booking:show') || hasPermission('booking:delete')" class="dropdown-menu pull-right" id="myUll">
                                            <li>

                                                <a  href="#/booking/details/{{booking.id}}" ng-if="hasPermission('booking:show')"  ><i
                                                        class="glyphicon glyphicon-info-sign"> <span translate="com.app.ind.label.detail"></span></i>
                                                </a>

                                            </li>
                                            <li>

                                                <a  ng-if="hasPermission('booking:delete')" ng-click="deleteBooking($index)" ><i
                                                        class="glyphicon glyphicon-remove"> <span translate="com.app.ind.label.delete"></span></i>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type='checkbox' class="checkboxTable" ng-show="bookings.length > 0" ng-checked="allChecked()" ng-model="allchecked" ng-change="checkAll(allchecked)" >
</script>
<script type="text/ng-template" id="ng-table/filters/age.html">
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="Yes" /> <span translate="com.app.ind.label.active"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="No" /> <span translate="com.app.ind.label.block"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age"  /> <span translate="com.app.ind.label.all"></span>
</script>





