<div  ng-show="hasPermission('customer:create')" ng-controller="addNewCustomerController as customer">
    <div class="row">
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class=" box-solid" style="background: transparent">
            <div class="box-header">
                <h1 class="box-title"><span translate="com.app.ind.label.property.name" translate-values="{name:'customer'}"></span></h1>

            </div>

            <div class="box-body"   >
                <form role="form" ng-submit="saveCustomer(addCustomerF.$invalid)" name="addCustomerF" novalidate>
                    <div class="col-sm-10">
                        <!--name-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="name"><span translate="com.app.ind.customer.label.name"></span>*</label>
                                <input type="text" autocomplete="off" ng-model="customer.name" ng-required="true" name="name"  url-name="/customer/nameExist"
                                       class-name="customer" maxlength="15" ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control" id="name"  name-validate
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.label.name')} }}">
                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.label.name"></span></b> <span translate="com.app.ind.label.validation"></span>:</h4>
                                    <ul>
                                        <li ng-class="nameValidLength"><span translate="com.app.ind.label.atLeast"></span>
                                            <b translate="com.app.ind.label.character" translate-values="{number:'5'}"></b></li>
                                        <li ng-class="nameExist"><span translate="com.app.ind.label.unique"></span></li>
                                    </ul>
                                </div>

                                <span class="label label-danger"
                                      translate="com.app.ind.label.name.cannot.null" translate-values="{value:translateKey('com.app.ind.label.name')}"
                                      ng-show="addCustomerF.name.$error.required && addCustomerF.$submitted"
                                        ></span>
                            </div>

                        </div>
                        <!--companyName-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputcompanyName"><span translate="com.app.ind.customer.label.companyName"></span></label>
                                <input type="companyName" name="companyName" ng-model="customer.companyName"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       companyName-validate 
                                       type="companyName" id="inputcompanyName"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.companyName')} }}">

                            </div>
                        </div>
                        <!--position-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputposition"><span translate="com.app.ind.customer.label.position"></span></label>
                                <input type="position" name="position" ng-model="customer.position"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       position-validate
                                       type="position" id="inputposition"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.position')} }}">

                            </div>
                        </div>
                        <!--billingAddress-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputbillingAddress"><span translate="com.app.ind.customer.label.billingAddress"></span></label>
                                <input type="billingAddress" name="billingAddress" ng-model="customer.billingAddress"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       billingAddress-validate
                                       type="billingAddress" id="inputbillingAddress"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.billingAddress')} }}">

                            </div>
                        </div>
                        <!-- reference -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputreference"><span translate="com.app.ind.customer.label.reference"></span></label>
                                <input type="reference" name="reference" ng-model="customer.reference"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       reference-validate 
                                       type="reference" id="inputreference"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.reference')} }}">


                            </div>
                        </div>
                        <!--address-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputaddress"><span translate="com.app.ind.customer.label.address"></span></label>
                                <input type="address" name="address" ng-model="customer.address"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       address-validate 
                                       type="address" id="inputaddress"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.address')} }}">

                            </div>
                        </div>
                        <!--customerType-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputcustomerType"><span translate="com.app.ind.customer.label.customerType"></span></label>
                                <!--<input type="customerType" name="customerType" ng-model="customer.customerType"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       customerType-validate
                                       type="customerType" id="inputcustomerType"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.customerType')} }}">-->

                                <select ng-model="customer.customerType"
                                        class="immediate-help form-control"
                                        name="customerType" ng-model="customer.customerType"
                                        type="customerType" id="inputcustomerType"
                                        placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.customerType')} }}"
                                        ng-options="customerType.value as  customerType.displayName for customerType in customerTypeList">
                                </select>


                            </div>
                        </div>
                        <!-- mobileNumberPrimary -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputmobileNumberPrimary"><span translate="com.app.ind.customer.label.mobileNumber,primary"></span></label>
                                <input type="mobileNumberPrimary" name="mobileNumber" ng-model="customer.mobileNumberPrimary"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       mobileNumber-validate
                                       type="mobileNumberPrimary" id="inputmobileNumberPrimary"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.mobileNumberPrimary')} }}">

                            </div>
                             <span class="label label-danger"
                                   translate="com.app.ind.label.mobileNumber.cannot.null"
                                   translate-values="{value:translateKey('com.app.ind.label.name')}"
                                   ng-show="addCustomerF.mobileNumberPrimary.$error.required && addCustomerF.$submitted"
                                     ></span>
                        </div>
                        <!-- mobileNumberSecondary -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputmobileNumberSecondary"><span translate="com.app.ind.customer.label.mobileNumber,secondary"></span></label>
                                <input type="mobileNumberSecondary" name="mobileNumber" ng-model="customer.mobileNumberSecondary"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       mobileNumber-validate
                                       type="mobileNumberSecondary" id="inputmobileNumberSecondary"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.mobileNumberSecondary')} }}">

                            </div>
                             <span class="label label-danger"
                                   translate="com.app.ind.label.mobileNumber.cannot.null"
                                   translate-values="{value:translateKey('com.app.ind.label.name')}"
                                   ng-show="addCustomerF.mobileNumberSecondary.$error.required && addCustomerF.$submitted"
                                     ></span>
                        </div>
                        <!--email-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputEmail"><span translate="com.app.ind.customer.label.email"></span></label>
                                <input type="text"  class="immediate-help form-control"
                                       ng-model-options="{ debounce: 250 }"
                                       email-validate autocomplete="off"  ng-model="customer.email" id="inputEmail"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.email')} }}"/>
                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.customer.label.email"></span></b> <span translate="com.app.ind.label.validation"></span>::</h4>
                                    <ul>
                                        <li ng-class="emailValidator"><span translate="com.app.ind.label.valid"></span></strong></li>
                                        <li ng-class="emailExist"><span translate="com.app.ind.label.unique"></span></li>
                                    </ul>
                                </div>

                            </div>
                            <input type="hidden"
                                   ng-model="customer.createdBy" id="createdBy" >
                            <input type="hidden"
                                   ng-model="customer.updatedBy" id="updatedBy" >
                        </div>
                        <!-- landLine -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputlandLine"><span translate="com.app.ind.customer.label.landLine"></span></label>
                                <input type="landLine" name="landLine" ng-model="customer.landLine"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       landLine-validate 
                                       type="landLine" id="inputlandLine"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.landLine')} }}">
                            </div>
                        </div>
                        <!-- web -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputweb"><span translate="com.app.ind.customer.label.web"></span></label>
                                <input type="web" name="web" ng-model="customer.web"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       web-validate 
                                       type="web" id="inputweb"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.web')} }}">

                            </div>
                        </div>
                        <!-- remark -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputremark"><span translate="com.app.ind.customer.label.remark"></span></label>
                                <input type="remark" name="remark" ng-model="customer.remark"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       remark-validate
                                       type="remark" id="inputremark"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.remark')} }}">

                            </div>
                        </div>
                        <!--status-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="status"><span translate="com.app.ind.customer.label.status"></span></label>
                                <div>
                                    <input
                                            bs-switch
                                            checked
                                            ng-model="customer.status"
                                            type="checkbox"
                                            switch-active="{{ status }}"
                                            switch-readonly="{{ isReadonly }}"
                                            switch-size=" mini "
                                            switch-animate="{{ animate }}"
                                            switch-label="Active"
                                            switch-icon="{{ icon }}"
                                            switch-on-text="Yes"
                                            switch-off-text="No"
                                            switch-on-color="info"
                                            switch-off-color="danger"
                                            switch-inverse="{{ inverse }}"
                                            ng-true-value="'YES'"
                                            ng-false-value="'NO'">
                                </div>

                            </div>
                        </div>
                        <!-- deActivateReason -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputdeActivateReason"><span translate="com.app.ind.customer.label.deActivateReason"></span></label>
                                <input type="deActivateReason" name="deActivateReason" ng-model="customer.deActivateReason"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       deActivateReason-validate 
                                       type="deActivateReason" id="inputdeActivateReason"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.deActivateReason')} }}">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="col-lg-6" align="center" >
                                <button type="submit" class="btn btn-primary" ng-click="addCustomerF.$submitted=true">
                                    <span translate="com.app.ind.label.create"></span></button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>




</div>

