<!--<%--
  Created by IntelliJ IDEA.
  customer: Umar
  Date: 11/7/14
  Time: 6:34 PM
--%>-->
        <div ng-controller="detailCustomerController" ng-show="hasPermission('customer:show')">
            <div class="modal-header">
                <h1><span translate="com.app.ind.label.show"
                 translate-values="{className:translateKey('com.app.ind.label.customer'),name:customer.name}"></span></h1>

            </div>
            <div class="modal-body">
                <dl>
                    <dt><span translate="com.app.ind.customer.label.name"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"customer.name","permission":"customer:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityCustomer($data,customer,'name')">{{customer.name || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.position"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"customer.position","permission":"customer:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityCustomer($data,customer,'position')">{{customer.position || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.companyName"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"customer.companyName","permission":"customer:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityCustomer($data,customer,'companyName')">{{customer.companyName || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.customerType"> </span> </dt>
                    <dd> <a href="#" blur="cancel" buttons="no" exeditable='{"type":"select","model":"customer.customerType","permission":"customer:update"}'
                            onbeforesave="editEntityCustomer($data,customer,'customerType')"

                            e-ng-options="customerType.value as customerType.displayName for customerType in customerTypeList">
                        {{ (customerTypeList | filter : customer.customerType)[0].displayName   || 'not set' }}</a>
                    </a></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.billingAddress"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"customer.billingAddress","permission":"customer:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityCustomer($data,customer,'billingAddress')">{{customer.billingAddress || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.landLine"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"customer.landLine","permission":"customer:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityCustomer($data,customer,'landLine')">{{customer.landLine || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.reference"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"customer.reference","permission":"customer:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityCustomer($data,customer,'reference')">{{customer.reference || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.web"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"customer.web","permission":"customer:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityCustomer($data,customer,'web')">{{customer.web || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.mobileNumber.primary"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"customer.mobileNumberPrimary","permission":"customer:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityCustomer($data,customer,'mobileNumberPrimary')">{{customer.mobileNumberPrimary || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.mobileNumber.secondary"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"customer.mobileNumbersecondary","permission":"customer:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityCustomer($data,customer,'mobileNumbersecondary')">{{customer.mobileNumbersecondary || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.email"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"customer.email","permission":"customer:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityCustomer($data,customer,'email')">{{customer.email || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.designation"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"customer.designation","permission":"customer:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityCustomer($data,customer,'designation')">{{customer.designation || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.remark"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"customer.remark","permission":"customer:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityCustomer($data,customer,'remark')">{{customer.remark || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.customer.label.deactivateReason"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"customer.deactivateReason","permission":"customer:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityCustomer($data,customer,'deactivateReason')">{{customer.deactivateReason || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>

                <div class="divider"></div>
                <dl>
                <dt><span translate="com.app.ind.customer.label.status"> </span></dt>
                    <dd>
                        <a  exeditable='{"type":"checkbox","model":"customer.status","permission":"customer:update"}'
                            e-valid blur="cancel"  buttons="no"
                            e-title="{{customer.status && ('com.app.ind.customer.label.block' | translate) || ('com.app.ind.customer.label.active' | translate)}}"
                            onbeforesave="editEntityCustomer($data,customer,'status')">
                            {{ customer.status && ('com.app.ind.customer.label.active' | translate) || ('com.app.ind.customer.label.block' | translate) }}
                        </a>
                    </dd>
               </dl>
                <dl>
                    <dt><span translate="com.app.ind.label.dateCreated"> </span></dt>
                    <dd>{{(customer.dateCreated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar }} </dd>
                </dl>
                <div class="divider"></div>

                <dl>
                    <dt><span translate="com.app.ind.label.lastUpdated"> </span></dt>
                    <dd>{{(customer.lastUpdated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar  }}</dd>
                </dl>

                <dl>
                    <dt><span translate="com.app.ind.user.label.createdBy"> </span> </dt>
                    <dd  ><a ng-show="hasPermission('user:show')" href="#/customer/user/{{createdByUser.id}}">{{createdByUser.username}}</a></dd>
                    <span ng-show="!hasPermission('user:show')">{{createdByUser.username}}</span>
                </dl>
                <dl>
                    <dt><span translate="com.app.ind.user.label.updatedBy"> </span> </dt>
                    <dd ><a  ng-show="hasPermission('user:show')" href="#/customer/user/{{updatedByUser.id}}">{{updatedByUser.username}}</a>
                    <span ng-show="!hasPermission('user:show')">{{updatedByUser.username}}</span>
                    </dd>
                </dl>
            </div>

        </div>



