<div ng-show="hasPermission('customer:index')" class="content" ng-controller="listCustomerController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.app.ind.label.list"  translate-values="{name:translateKey('com.app.ind.label.customer')}"></span>
                            </div>
                            <div class="pull-right">
                                <button  ng-if="hasPermission('customer:delete')" id="tesyt" class="btn btn-danger btn-xs"
                                         ng-click="deletedSelected()" ng-show="getCheckedcustomers().length > 0 ">

                                    <i class="glyphicon glyphicon-trash"></i> <span translate="com.app.ind.label.delete"></span>
                                </button>
                                <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs"><span translate="com.app.ind.label.clear.sorting"></span>
                                </button>
                                <a href="#/customer/create"   ng-if="hasPermission('customer:create')"
                                        class="btn btn-primary btn-xs" ng-click="addNew()">
                                    <i class="glyphicon glyphicon-plus-sign"></i> <span translate="com.app.ind.label.create"></span></a>
                            </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding ">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams"  show-filter="true"
                               class="table table-condensed table-bordered">

                            <tr ng-repeat="customer in customers" class="tableRow">

                                <td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
                                    <input class="checkboxTable" type="checkbox" ng-model="customer.checked"/>
                                </td>
                                <td data-title="'com.app.ind.customer.label.name' | translate" filter="{ 'name': 'text' }" sortable="'name'">
                                    <span  exeditable='{"type":"text","model":"customer.name","permission":"customer:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityCustomer($data,customer,'name')">
                                        {{customer.name || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.customer.label.position' | translate" filter="{ 'position': 'text' }" sortable="'position'">
                                    <span  exeditable='{"type":"text","model":"customer.position","permission":"customer:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityCustomer($data,customer,'position')">
                                        {{customer.position || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.customer.label.mobileNumber.primary' | translate" filter="{ 'mobileNumberPrimary': 'text' }" sortable="'mobileNumberPrimary'">
                                    <span  exeditable='{"type":"text","model":"customer.mobileNumberPrimary","permission":"customer:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityCustomer($data,customer,'mobileNumberPrimary')">
                                        {{customer.mobileNumberPrimary || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.customer.label.customerType' | translate"  filter="{ 'customerType': 'text' }" sortable="'customerType'">

                                    <a href="#" blur="cancel" buttons="no" exeditable='{"type":"select","model":"customer.customerType","permission":"customer:update"}'
                                       onbeforesave="editEntityCustomer($data,customer,'customerType')"

                                       e-ng-options="customerType.value as customerType.displayName for customerType in customerTypeList">
                                        {{ (customerTypeList | filter : customer.customerType)[0].displayName   || 'not set' }}
                                    </a>
                                </td>
                                <!--<td data-title="'com.app.ind.customer.label.billingAddress' | translate"  filter="{ 'billingAddress': 'text' }" sortable="'billingAddress'">
                                     <span exeditable='{"type":"text","model":"customer.billingAddress","permission":"customer:update"}'
                                              blur="cancel" buttons="no" e-valid
                                           onbeforesave="editEntityCustomer($data,customer,'billingAddress')">
                                            {{customer.billingAddress || ('com.app.ind.label.empty' | translate)}}</i>

                                     </span>

                                </td>-->
                                <td  data-title="'com.app.ind.customer.label.status' | translate" filter="{ 'status': 'select' }"
                                     filter-data="isActiveStatus()" sortable="'status'">
                                    <a  exeditable='{"type":"","model":"customer.status","permission":"customer:activateOrBlockcustomer"}'
                                        e-valid blur="cancel" buttons="no"
                                        e-title="{{customer.status && ('com.app.ind.customer.label.block' | translate) || ('com.app.ind.customer.label.status' | translate)}}"
                                        onbeforesave="editEntityCustomer($data,customer,'status')">
                                        {{ customer.status && ('com.app.ind.customer.label.active' | translate) || ('com.app.ind.customer.label.block' | translate) }}
                                    </a>

                                </td>

                                <td   data-title="'com.app.ind.label.action' | translate">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>

                                        <ul ng-if="hasPermission('customer:show') || hasPermission('customer:delete')" class="dropdown-menu pull-right" id="myUll">
                                            <li>

                                                <a  href="#/customer/details/{{customer.id}}" ng-if="hasPermission('customer:show')"  ><i
                                                        class="glyphicon glyphicon-info-sign"> <span translate="com.app.ind.label.detail"></span></i>
                                                </a>

                                            </li>
                                            <li>

                                                <a  ng-if="hasPermission('customer:delete')" ng-click="deleteCustomer($index)" ><i
                                                        class="glyphicon glyphicon-remove"> <span translate="com.app.ind.label.delete"></span></i>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type='checkbox' class="checkboxTable" ng-show="customers.length > 0" ng-checked="allChecked()" ng-model="allchecked" ng-change="checkAll(allchecked)" >
</script>
<script type="text/ng-template" id="ng-table/filters/age.html">
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="Yes" /> <span translate="com.app.ind.label.active"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="No" /> <span translate="com.app.ind.label.block"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age"  /> <span translate="com.app.ind.label.all"></span>
</script>





