<!-- Main content -->
<section class="content" ng-controller="ngTableCtrlXedit">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Hover NG Table</h3>                                    
				</div><!-- /.box-header -->
				<div class="box-body table-responsive">
					<table id="example2" ng-table="tableParams"  class="table table-bordered table-hover ng-table-responsive">
					   <tr ng-repeat="user in $data">
							<td data-title="'Name'" editable-text="user.name">
								{{user.name}}
							</td>
							<td data-title="'Age'" editable-select="user.age" e-ng-options="a.text as a.text for a in ages">
								{{user.age}}
							</td>
						</tr>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>

</section><!-- /.content -->