<div class="content" ng-controller="listPermissionController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.app.ind.label.list"  translate-values="{name:translateKey('com.app.ind.label.permission')}"></span>
                            </div>
                            <div class="pull-right">
                                <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs"><span translate="com.app.ind.label.clear.sorting"></span>
                                </button>
                            </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->


                <div class="box-body table-responsive">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams" class="table table-condensed table-responsive table-bordered table-striped">

                            <tr ng-repeat="permission in $data">


                                <td data-title="'Name'" filter="{ 'name': 'text' }">
                                    {{ permission.name | translate }}
                                </td>
                                <td data-title="'Description'" filter="{ 'descrption': 'text' }">
                                    {{permission.description | translate }}
                                </td>
                                <td data-title="'Action'">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>

                                        <ul class="dropdown-menu pull-right" id="myUll">
                                            <!--<li>

                                                <a ng-click="detailPermission(user.id)" ><i
                                                        class="glyphicon glyphicon-info-sign"> Detail</i>
                                                </a>

                                            </li>-->
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





