<div  ng-show="hasPermission('workOrder:create')" ng-controller="addNewWorkOrderController as workOrder">
    <div class="row">
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class=" box-solid" style="background: transparent">
            <div class="box-header">
                <h1 class="box-title"><span translate="com.app.ind.label.property.name" translate-values="{name:'workOrder'}"></span></h1>

            </div>

            <div class="box-body"   >
                <form role="form" ng-submit="saveWorkOrder(addWorkOrderF.$invalid)" name="addWorkOrderF" novalidate>
                    <div class="col-sm-10">
                        <!-- workOrderDate -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputbookingDate"><span translate="com.app.ind.workOrder.label.bookingDate"></span></label>
                                <input type="date" name="workOrderDate" ng-model="workOrder.bookingDate"
                                       ng-estimatedTime-options="{ debounce: 250 }"
                                       class="immediate-help  form-control"
                                       mobileNumber-validate required="required"
                                       type="bookingDate" id="inputbookingDate"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.workOrder.label.bookingDate')} }}">

                            </div>
                             <span class="label label-danger"
                                   translate="com.app.ind.label.mobileNumber.cannot.null"
                                   translate-values="{value:translateKey('com.app.ind.label.name')}"
                                   ng-show="addWorkOrderF.workOrderDate.$error.required && addWorkOrderF.$submitted"
                                     ></span>
                        </div>
                        
                        <!--customerName-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputcustomer_id"><span translate="com.app.ind.workOrder.label.customerName"></span></label>
                               <!-- <input type="customerName" name="customerName" ng-model="workOrder.customerName"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       customerName-validate required="required" ng-change="findCustomer(workOrder.customerName)"
                                       type="customerName" id="inputcustomerName"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.workOrder.label.customerName')} }}">
-->

                                <select ng-model="workOrder.customer_id"
                                        class="immediate-help form-control chosen-select"
                                        name="customer_id" required=""
                                        id="inputcustomer_id"
                                        placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.customer_id')} }}"
                                        ng-options="customer.id as  customer.name
                                        for customer in customerList">
                                </select>

                            </div>
                        </div>
                      

                        <!-- committedDate -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputcommittedDate"><span translate="com.app.ind.workOrder.label.committedDate"></span></label>
                                <input type="date"  name="committedDate" ng-model="workOrder.committedDate"
                                       ng-estimatedTime-options="{ debounce: 250 }"
                                       class="immediate-help   form-control"
                                       mobileNumber-validate required="required"
                                       type="committedDate" id="inputcommittedDate"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.workOrder.label.committedDate')} }}">

                            </div>
                             <span class="label label-danger"
                                   translate="com.app.ind.label.mobileNumber.cannot.null"
                                   translate-values="{value:translateKey('com.app.ind.label.name')}"
                                   ng-show="addWorkOrderF.committedDate.$error.required && addWorkOrderF.$submitted"
                                     ></span>
                        </div>




                        <div class="col-sm-2">
                            <div class="col-lg-6" align="center" >
                                <button type="submit" class="btn btn-primary" ng-click="addWorkOrderF.$submitted=true">
                                    <span translate="com.app.ind.label.create"></span></button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>




</div>
<script>
    $('.datepicker').datepicker();
    $('.datepickerTime').datepicker({
        pickDate: false
    });
    window.setTimeout(function chose(){

        $('.chosen-select').chosen();
    }, 1000);
//    function chose(){

      //  $('.chosen-select').chosen();
//    }

</script>

