<!--<%--
  Created by IntelliJ IDEA.
  workOrder: Umar
  Date: 11/7/14
  Time: 6:34 PM
--%>-->
        <div ng-controller="detailWorkOrderController" ng-show="hasPermission('workOrder:show')">
            <div class="modal-header">
                <h1><span translate="com.app.ind.label.show"
                 translate-values="{className:translateKey('com.app.ind.label.workOrder'),name:workOrder.name}"></span></h1>

            </div>
            <div class="modal-body">
                <dl>
                    <dt><span translate="com.app.ind.workOrder.label.workOrder.number"></span></dt>
                    <dd>
                        <span >
                                        <span translate="com.app.ind.label.workOrder"></span> {{ workOrder.id  }}</span>
                    </dd>
                    <dt><span translate="com.app.ind.workOrder.label.bookingDate"> </span> </dt>
                    <dd><span exeditable='{"type":"date","model":"workOrder.bookingDate","permission":"workOrder:update"}'
                              blur="submit" buttons="no"
                              onbeforesave="editEntityWorkOrder($data,workOrder,'bookingDate')">
                         {{(workOrder.bookingDate | date:'yyyy-MM-dd')  || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.workOrder.label.customerName"> </span> </dt>
                    <dd><a href="#" blur="cancel" class="chosen-select" onshow="chosenSelect()"
                           buttons="no" exeditable='{"type":"select","model":"workOrder.customerName","permission":"customer:update"}'
                           onbeforesave="editEntityWorkOrder($data,workOrder,'customer')"

                           e-ng-options="customer.id as customer.name for customer in customerList">
                        {{ (customerList | filter : workOrder.customer)[0].name   || 'not set' }}
                    </a></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.workOrder.label.committedDate"> </span> </dt>
                    <dd><span exeditable='{"type":"date","model":"workOrder.committedDate","permission":"workOrder:update"}'
                              blur="submit" buttons="no"
                              onbeforesave="editEntityWorkOrder($data,workOrder,'committedDate')">
                        {{(workOrder.committedDate | date:'yyyy-MM-dd')  || ("com.app.ind.label.empty" | translate)}}
                    </span></dd>
                </dl>
                <div class="divider"></div>
               
                
                <dl>
                    <dt><span translate="com.app.ind.label.dateCreated"> </span></dt>
                    <dd>{{(workOrder.dateCreated | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' }} </dd>
                </dl>
                <div class="divider"></div>

                <dl>
                    <dt><span translate="com.app.ind.label.lastUpdated"> </span></dt>
                    <dd>{{(workOrder.lastUpdated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar  }}</dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.user.label.createdBy"> </span> </dt>
                    <dd  ><a ng-show="hasPermission('user:show')" href="#/workOrder/user/{{createdByUser.id}}">{{createdByUser.username}}</a></dd>
                    <span ng-show="!hasPermission('user:show')">{{createdByUser.username}}</span>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.user.label.updatedBy"> </span> </dt>
                    <dd ><a  ng-show="hasPermission('user:show')" href="#/workOrder/user/{{updatedByUser.id}}">{{updatedByUser.username}}</a>
                    <span ng-show="!hasPermission('user:show')">{{updatedByUser.username}}</span>
                    </dd>
                </dl>
            </div>

        </div>



