<div ng-show="hasPermission('workOrder:index')" class="content" ng-controller="listWorkOrderController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.app.ind.label.list"  translate-values="{name:translateKey('com.app.ind.label.workOrder')}"></span>
                            </div>
                            <div class="pull-right">
                                <button  ng-if="hasPermission('workOrder:delete')" id="tesyt" class="btn btn-danger btn-xs"
                                         ng-click="deletedSelected()" ng-show="getCheckedworkOrders().length > 0 ">

                                    <i class="glyphicon glyphicon-trash"></i> <span translate="com.app.ind.label.delete"></span>
                                </button>
                                <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs"><span translate="com.app.ind.label.clear.sorting"></span>
                                </button>
                                <a href="#/workOrder/create"   ng-if="hasPermission('workOrder:create')"
                                        class="btn btn-primary btn-xs" ng-click="addNew()">
                                    <i class="glyphicon glyphicon-plus-sign"></i> <span translate="com.app.ind.label.create"></span></a>
                            </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding ">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams"  show-filter="true"
                               class="table table-condensed table-bordered">

                            <tr ng-repeat="workOrder in workOrders" class="tableRow">

                                <td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
                                    <input class="checkboxTable" type="checkbox" ng-model="workOrder.checked"/>
                                </td>

                                <td data-title="'com.app.ind.workOrder.label.workOrder.number' | translate" >

                                    <span >
                                        <span translate="com.app.ind.label.workOrder"></span> {{ workOrder.id  }}</span>
                                </td>
                                <td data-title="'com.app.ind.workOrder.label.bookingDate' | translate" >

                                    <span   exeditable='{"type":"date","model":"workOrder.bookingDate","permission":"workOrder:update"}'
                                           blur="submit" buttons="no"  onaftersave="editEntityWorkOrder($data,workOrder,'bookingDate')">
                                        {{(workOrder.bookingDate | date:'yyyy-dd-MM ') || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.workOrder.label.customerName' | translate">
                                   <!-- <span  exeditable='{"type":"checkbox","model":"workOrder.customerName","permission":"workOrder:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityWorkOrder($data,workOrder,'customerName')">
                                        {{workOrder.customerName || ('com.app.ind.label.empty' | translate) }}</span>
-->
                                    <a href="#" blur="cancel" class="chosen-select" onshow="chosenSelect()" buttons="no" exeditable='{"type":"select","model":"workOrder.customerName","permission":"customer:update"}'
                                       onbeforesave="editEntityWorkOrder($data,workOrder,'customer')"

                                       e-ng-options="customer.id as customer.name for customer in customerList">
                                        {{ (customerList | filter : workOrder.customer)[0].name   || 'not set' }}
                                    </a>
                                </td>
                                <td data-title="'com.app.ind.workOrder.label.committedDate' | translate" >
                                    <span   exeditable='{"type":"date","model":"workOrder.committedDate","permission":"workOrder:update"}'
                                           blur="submit" buttons="no"  onaftersave="editEntityWorkOrder($data,workOrder,'committedDate')">
                                        {{(workOrder.committedDate | date:'MM-dd-yyyy ') || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>

                                <td   data-title="'com.app.ind.label.action' | translate">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>

                                        <ul ng-if="hasPermission('workOrder:show') || hasPermission('workOrder:delete')" class="dropdown-menu pull-right" id="myUll">
                                            <li>

                                                <a  href="#/workOrder/details/{{workOrder.id}}" ng-if="hasPermission('workOrder:show')"  ><i
                                                        class="glyphicon glyphicon-info-sign"> <span translate="com.app.ind.label.detail"></span></i>
                                                </a>

                                            </li>
                                            <li>

                                                <a  ng-if="hasPermission('workOrder:delete')" ng-click="deleteWorkOrder($index)" ><i
                                                        class="glyphicon glyphicon-remove"> <span translate="com.app.ind.label.delete"></span></i>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type='checkbox' class="checkboxTable" ng-show="workOrders.length > 0" ng-checked="allChecked()" ng-model="allchecked" ng-change="checkAll(allchecked)" >
</script>
<script type="text/ng-template" id="ng-table/filters/age.html">
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="Yes" /> <span translate="com.app.ind.label.active"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="No" /> <span translate="com.app.ind.label.block"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age"  /> <span translate="com.app.ind.label.all"></span>
</script>





