<!--
<div ng-show="isAuthorizedIndex()">
     dsfefdsf    {{hasPermission('business:list') | json}}
    &lt;!&ndash; Left side column. contains the logo and sidebar &ndash;&gt;


    &lt;!&ndash; Right side column. Contains the navbar and content of the page &ndash;&gt;
    &lt;!&ndash; /.right-side &ndash;&gt;
    &lt;!&ndash;%{&#45;&#45;<sidemenuauth signedin="isAuthorized1()"/>&#45;&#45;}%&ndash;&gt;
    <script src="js/AdminLTE/app.js" type="text/javascript"></script>
    <script src="js/angular/controllers/mainController.js" type="text/javascript"></script>

    <script src="js/AdminLTE/dashboard.js" type="text/javascript"></script>
</div>-->
