<!--
  Created by IntelliJ IDEA.
  User: Umar
  Date: 12/24/14
  Time: 3:46 PM
-->

<div class="modal-header">
    <h3 class="modal-title">{{'com.app.ind.user.label.changePassword' | translate}}</h3>
</div>
<div class="modal-body">
     <form name="changPasswordForm">
         <div class="box-body">
             <div class="label label-danger" ng-show="errorMessage()"><span translate="{{update_error}}"></span></div>
             <div class="row">
                 <div class="form-group col-lg-6">
                     <label for="inputPassword"><span translate="com.app.ind.user.label.oldPassword"></span>*</label>
                     <input type="password" ng-model="user.oldPassword" ng-model-options="{ debounce: 250 }"
                            class="immediate-help form-control"
                            required id="inputPassword"
                            placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.user.label.oldPassword')} }}">
                 </div>
             </div>
             <div class="row">
                 <div class="form-group col-lg-6">
                     <label for="newPassword"><span translate="com.app.ind.user.label.newPassword"></span>*</label>
                     <input type="password" ng-model="user.newPassword" ng-model-options="{ debounce: 250 }"
                            class="immediate-help form-control" password-validate required
                            id="newPassword"
                            placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.user.label.newPassword')} }}">
                     <div class="input-help">
                         <h4><b><span translate="com.app.ind.user.label.password"></span></b>
                             <span translate="com.app.ind.label.validation"></span>:</h4>
                         <ul>
                             <li ng-class="pwdHasLetter"><span translate="com.app.ind.label.atLeast"></span> <b translate="com.app.ind.label.1letter"></b></li>
                             <li ng-class="pwdHasNumber"><span translate="com.app.ind.label.atLeast"></span> <b translate="com.app.ind.label.1Number"></b></li>
                             <li ng-class="pwdValidLength"><span translate="com.app.ind.label.atLeast"></span> <b translate="com.app.ind.label.character" translate-values="{number:'8'}"></b></li>
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="form-group col-lg-6">
                     <label for="newPassword"><span translate="com.app.ind.user.label.confirmPassword"></span>*</label>
                     <input type="password" ng-model="user.confirmPassword" ng-model-options="{ debounce: 250 }"
                            class="immediate-help form-control" required
                            id="confirmPassword"
                            placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.user.label.confirmPassword')} }}">

                 </div>
                 <div class="label label-danger" ng-show="user.newPassword != user.confirmPassword"><span translate="com.app.ind.label.password.notMatched"></span></div>
             </div>
             <div class="col-lg-6" align="center" >
                     <button type="submit" ng-hide="user.newPassword != user.confirmPassword" class="btn btn-primary" ng-click="changeUserPassword()"><span translate="com.app.ind.label.update"></span></button>
                 </div>



        </div>
     </form>


</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>