<div  ng-show="hasPermission('user:cre')" ng-controller="addNewUserController as user">
    <div class="row">
        <div class="box box-solid" style="background: transparent">
            <div class="box-header">
                <h1 class="box-title"><span translate="com.app.ind.label.property.name" translate-values="{name:'User'}"></span></h1>

            </div>
            <div>
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <div class="box-body"   >
                <form role="form" ng-submit="saveUser(addUserF.$invalid)" name="addUserF" novalidate>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="username"><span translate="com.app.ind.user.label.username"></span>*</label>
                                <input type="text" autocomplete="off" ng-model="user.username" name="username"
                                       ng-model-options="{ debounce: 250 }" required="" maxlength="15"
                                       class="immediate-help form-control" id="username"
                                       username-validate
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.user.label.username')} }}">

                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.user.label.username"></span></b> <span translate="com.app.ind.label.validation"></span>:</h4>
                                    <ul>
                                        <li ng-class="userValidLength"><span translate="com.app.ind.label.atLeast"></span> <b translate="com.app.ind.label.character" translate-values="{number:'5'}"></b></li>
                                        <li ng-class="userHasNumber"><span translate="com.app.ind.label.no"></span> <span translate="com.app.ind.label.specialCharacter"></span></li>
                                        <li ng-class="userExist"><span translate="com.app.ind.label.unique"></span></li>

                                    </ul>
                                </div>
                                <span class="label label-danger"
                                      translate="com.app.ind.label.name.cannot.null" translate-values="{value:translateKey('com.app.ind.label.name')}"
                                      ng-show="addUserF.username.$error.required && addUserF.$submitted"
                                        ></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputPassword"><span translate="com.app.ind.user.label.password"></span>*</label>
                                <input type="password" name="password" ng-model="user.password"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       password-validate required=""
                                       type="password" id="inputPassword"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.user.label.password')} }}">

                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.user.label.password"></span></b> <span translate="com.app.ind.label.validation"></span>:</h4>
                                    <ul>
                                        <li ng-class="pwdHasLetter"><span translate="com.app.ind.label.atLeast"></span> <b translate="com.app.ind.label.1letter"></b></li>
                                        <li ng-class="pwdHasNumber"><span translate="com.app.ind.label.atLeast"></span> <b translate="com.app.ind.label.1Number"></b></li>
                                        <li ng-class="pwdValidLength"><span translate="com.app.ind.label.atLeast"></span> <b translate="com.app.ind.label.character" translate-values="{number:'8'}"></b></li>
                                    </ul>
                                </div>
                                <span class="label label-danger"
                                      translate="com.app.ind.label.name.cannot.null" translate-values="{value:translateKey('com.app.ind.label.password')}"
                                      ng-show="addUserF.password.$error.required && addUserF.$submitted"
                                        ></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="status"><span translate="com.app.ind.user.label.status"></span>*</label>
                                <div>
                                    <input
                                            bs-switch
                                            ng-model="user.isActive"
                                            type="checkbox"
                                            switch-active="{{ isActive }}"
                                            switch-readonly="{{ isReadonly }}"
                                            switch-size=" mini "
                                            switch-animate="{{ animate }}"
                                            switch-label="Active"
                                            switch-icon="{{ icon }}"
                                            switch-on-text="Yes"
                                            switch-off-text="No"
                                            switch-on-color="info"
                                            switch-off-color="danger"
                                            switch-inverse="{{ inverse }}"
                                            ng-true-value="'YES'"
                                            ng-false-value="'NO'">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="fullname"><span translate="com.app.ind.user.label.fullName"></span></label>
                                <input type="text" autocomplete="off"
                                       maxlength="25" class="form-control"
                                       ng-model="user.fullName" id="fullname"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.user.label.fullName')} }}" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputEmail"><span translate="com.app.ind.user.label.email"></span></label>
                                <input type="text"  class="immediate-help form-control"
                                       ng-model-options="{ debounce: 250 }"
                                        email-validate autocomplete="off"  ng-model="user.email" id="inputEmail"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.user.label.email')} }}"/>
                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.user.label.email"></span></b> <span translate="com.app.ind.label.validation"></span>::</h4>
                                    <ul>
                                        <li ng-class="emailValidator"><span translate="com.app.ind.label.valid"></span></strong></li>
                                        <li ng-class="emailExist"><span translate="com.app.ind.label.unique"></span></li>
                                    </ul>
                                </div>

                            </div>
                            <input type="hidden"
                                   ng-model="user.createdBy" id="createdBy" >
                            <input type="hidden"
                                   ng-model="user.updatedBy" id="updatedBy" >
                        </div>
                        <div class="row">
                            <div class="col-lg-6" align="center" >
                                <button type="submit" class="btn btn-primary" ng-click="addUserF.$submitted=true"><span translate="com.app.ind.label.create"></span></button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>




</div>

