<!--<%--
  Created by IntelliJ IDEA.
  User: Umar
  Date: 11/7/14
  Time: 6:34 PM
--%>-->
        <div ng-show="hasPermission('user:show') || hasPermission('user:show',user.id)">
            <div class="modal-header">
                <h1>
                    <button ng-show="hasPermission('user:changePassword',user.id)" class="pull-right btn btn-xs btn-info"
                            ng-click="changePassword(user.id)">
                        <span>{{'com.app.ind.user.label.changePassword' | translate}}</span>
                    </button>
           <span translate="com.app.ind.label.show"
                 translate-values="{className:translateKey('com.app.ind.label.user'),name:user.username}"></span>

                </h1>

            </div>
            <div class="modal-body">
                <dl>
                    <dt><span translate="com.app.ind.user.label.fullName"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"user.fullName","permission":"user:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityUser($data,user,'fullName')">{{user.fullName || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.user.label.email"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"user.email","permission":"user:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityUser($data,user,'email')">{{user.email || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl ng-hide="user.username == 'admin'">
                    <dt><span translate="com.app.ind.user.label.status"> </span></dt>
                    <dd>
                        <a  exeditable='{"type":"checkbox","model":"user.isActive","permission":"user:activateOrBlockUser"}'
                            e-valid blur="cancel"  buttons="no"
                            e-title="{{user.isActive && ('com.app.ind.user.label.block' | translate) || ('com.app.ind.user.label.active' | translate)}}"
                            onbeforesave="activateOrBlockUser($data,user,'isActive')">
                            {{ user.isActive && ('com.app.ind.user.label.active' | translate) || ('com.app.ind.user.label.block' | translate) }}
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt><span translate="com.app.ind.label.dateCreated"> </span></dt>
                    <dd>{{(user.dateCreated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar }} </dd>
                </dl>
                <div class="divider"></div>

                <dl>
                    <dt><span translate="com.app.ind.label.lastUpdated"> </span></dt>
                    <dd>{{(user.lastUpdated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar  }}</dd>
                </dl>

                <dl>
                    <dt><span translate="com.app.ind.user.label.createdBy"> </span> </dt>
                    <dd  ><a ng-show="hasPermission('user:show')" href="#/user/detail/{{createdByUser.id}}">{{createdByUser.username}}</a></dd>
                    <span ng-show="!hasPermission('user:show')">{{createdByUser.username}}</span>
                </dl>
                <dl>
                    <dt><span translate="com.app.ind.user.label.updatedBy"> </span> </dt>
                    <dd ><a  ng-show="hasPermission('user:show')" href="#/user/detail/{{updatedByUser.id}}">{{updatedByUser.username}}</a>
                    <span ng-show="!hasPermission('user:show')">{{updatedByUser.username}}</span>
                    </dd>
                </dl>
            </div>
        </div>



