<div ng-show="hasPermission('user:index')" class="content" ng-controller="listUserController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.app.ind.label.list"  translate-values="{name:translateKey('com.app.ind.label.user')}"></span>
                            </div>
                            <div class="pull-right">
                                <button  ng-if="hasPermission('user:delete')" id="tesyt" class="btn btn-danger btn-xs"
                                        ng-click="deletedSelected()" ng-show="getCheckedUsers().length > 0 ">

                                    <i class="glyphicon glyphicon-trash"></i> <span translate="com.app.ind.label.delete"></span>
                                </button>
                                     <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs"><span translate="com.app.ind.label.clear.sorting"></span>
                                     </button>
                                     <button ng-controller="addNewUserController"  ng-if="hasPermission('user:create')"class="btn btn-primary btn-xs" ng-click="addNew()"><i class="glyphicon glyphicon-plus-sign"></i> <span translate="com.app.ind.label.create"></span></button>
                             </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams" show-filter="true" class="table table-condensed newspaper table-responsive table-bordered">

                            <tr ng-repeat="user in users" class="tableRow">

                                <td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
                                    <input class="checkboxTable" type="checkbox" ng-model="user.checked"/>
                                </td>
                                <td data-title="'com.app.ind.user.label.username' | translate" filter="{ 'username': 'text' }" sortable="'username'">
                                    <span ng-if="!hasPermission('user:show')">{{user.username || ('com.app.ind.label.empty' | translate )}}</span>
                                    <a ng-if="hasPermission('user:show')" ng-click="detailsPage(user.id)">{{user.username || ('com.app.ind.label.empty' | translate )}}</a>
                                </td>
                                <td data-title="'com.app.ind.user.label.fullName' | translate" filter="{ 'fullName': 'text' }" sortable="'fullName'">
                                    <span  exeditable='{"type":"text","model":"user.fullName","permission":"user:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityUser($data,user,'fullName')">
                                        {{user.fullName || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>

                                <td data-title="'com.app.ind.user.label.email' | translate"  filter="{ 'email': 'text' }" sortable="'email'">
                       <span exeditable='{"type":"text","model":"user.email","permission":"user:update"}'
                             blur="cancel" buttons="no" e-valid
                             onbeforesave="editEntityUser($data,user,'email')">
                           {{user.email || ('com.app.ind.label.empty' | translate)}}</i>

                       </span>

                                </td>
                                <td  data-title="'com.app.ind.user.label.status' | translate" filter="{ 'isActive': 'select' }"
                                     filter-data="isActiveStatus()" sortable="'isActive'">

                                    <!--<span ng-show="user.isActive"><span translate="com.app.ind.user.label.active"></span></span>
                                    <span ng-show="!user.isActive"><span translate="com.app.ind.user.label.block"></span></span>-->
                                    <a  ng-hide="user.username == 'admin'"
                                       exeditable='{"type":"checkbox","model":"user.isActive","permission":"user:activateOrBlockUser"}'
                                       e-valid blur="cancel" buttons="no"
                                       e-title="{{user.isActive && ('com.app.ind.user.label.block' | translate) || ('com.app.ind.user.label.active' | translate)}}"
                                       onbeforesave="activateOrBlockUser($data,user,'isActive')">
                                        {{ user.isActive && ('com.app.ind.user.label.active' | translate) || ('com.app.ind.user.label.block' | translate) }}
                                    </a>
                                    <span ng-show="user.username == 'admin'">
                                        {{ user.isActive && ('com.app.ind.user.label.active' | translate) || ('com.app.ind.user.label.block' | translate) }}
                                    </span>
                                </td>
                                <td data-title="'com.app.ind.user.label.lastLogin' | translate">
                                    <span   >{{((user.lastLogin | date:'yyyy-MM-dd HH:mm:ss') | amCalendar ) || 'com.app.ind.label.user.notLogin' | translate  }}</span>
                                </td>
                                <td   data-title="'com.app.ind.label.action' | translate">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>

                                        <ul ng-if="hasPermission('user:show') || hasPermission('user:delete')" class="dropdown-menu pull-right" id="myUll">
                                            <li>

                                                <a  ng-if="hasPermission('user:show')" ng-click="detailsPage(user.id)" ><i
                                                        class="glyphicon glyphicon-info-sign"> <span translate="com.app.ind.label.detail"></span></i>
                                                </a>

                                            </li>
                                            <li>

                                                <a  ng-if="hasPermission('user:delete')" ng-click="deleteUser($index)" ><i
                                                        class="glyphicon glyphicon-remove"> <span translate="com.app.ind.label.delete"></span></i>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type='checkbox' class="checkboxTable" ng-show="users.length > 0" ng-checked="allChecked()" ng-model="allchecked" ng-change="checkAll(allchecked)" >
</script>
<script type="text/ng-template" id="ng-table/filters/age.html">
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="Yes" /> <span translate="com.app.ind.label.active"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="No" /> <span translate="com.app.ind.label.block"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age"  /> <span translate="com.app.ind.label.all"></span>
</script>





