<div class="content" ng-controller="detailUserController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -38px">
                <div class="box-body">
                    <tabset>
                        <tab ng-if="hasPermission('user:show') || hasPermission('user:show',user.id) ">
                            <tab-heading>
                                <i class="fa fa-user"></i> <span translate="com.app.ind.user.label.profile"></span>
                            </tab-heading>
                            <user-detail-page  id="userId"></user-detail-page>
                        </tab>
                        <tab ng-if="hasPermission('user:viewPermissions')" select="currentPermission()" ng-controller="userDetailPermissionCtrl" >
                            <tab-heading>
                                <i class="fa fa-pinterest-square"></i> <span translate="com.app.ind.label.permission.plural"></span>
                            </tab-heading>
                            <permission-list />
                        </tab>
                        <tab  ng-if="hasPermission('user:viewRoles')" select="currentRole()" ng-controller="userDetailRoleCtrl">
                            <tab-heading>
                                <i class="fa fa-book"></i> <span translate="com.app.ind.label.role.plural"></span>
                            </tab-heading>
                            <role-list />
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
