<div  ng-show="hasPermission('investor:cre')" ng-controller="addNewInvestorController as investor">
    <div class="row">
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class=" box-solid" style="background: transparent">
            <div class="box-header">
                <h1 class="box-title"><span translate="com.app.ind.label.property.name" translate-values="{name:'investor'}"></span></h1>

            </div>

            <div class="box-body"   >
                <form role="form" ng-submit="saveInvestor(addInvestorF.$invalid)" name="addInvestorF" novalidate>
                    <div class="col-sm-10">
                        <!--name-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="name"><span translate="com.app.ind.investor.label.name"></span>*</label>
                                <input type="text" autocomplete="off" ng-model="investor.name" ng-required="true" name="name"  url-name="/investor/nameExist"
                                       class-name="investor" maxlength="15" ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control" id="name"  name-validate
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.label.name')} }}">
                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.label.name"></span></b> <span translate="com.app.ind.label.validation"></span>:</h4>
                                    <ul>
                                        <li ng-class="nameValidLength"><span translate="com.app.ind.label.atLeast"></span>
                                            <b translate="com.app.ind.label.character" translate-values="{number:'5'}"></b></li>
                                        <li ng-class="nameExist"><span translate="com.app.ind.label.unique"></span></li>
                                    </ul>
                                </div>

                                <span class="label label-danger"
                                      translate="com.app.ind.label.name.cannot.null" translate-values="{value:translateKey('com.app.ind.label.name')}"
                                      ng-show="addInvestorF.name.$error.required && addInvestorF.$submitted"
                                        ></span>
                            </div>

                        </div>
                        <!--sirName-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputsirName"><span translate="com.app.ind.investor.label.sirName"></span></label>
                                <input type="sirName" name="sirName" ng-model="investor.sirName"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       sirName-validate 
                                       type="sirName" id="inputsirName"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.sirName')} }}">

                            </div>
                        </div>
                        <!-- reference -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputreference"><span translate="com.app.ind.investor.label.reference"></span></label>
                                <input type="reference" name="reference" ng-model="investor.reference"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       reference-validate 
                                       type="reference" id="inputreference"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.reference')} }}">


                            </div>
                        </div>
                        <!--address-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputaddress"><span translate="com.app.ind.investor.label.address"></span></label>
                                <input type="address" name="address" ng-model="investor.address"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       address-validate 
                                       type="address" id="inputaddress"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.address')} }}">

                            </div>
                        </div>
                        <!-- mobileNumber -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputmobileNumber"><span translate="com.app.ind.investor.label.mobileNumber"></span>*</label>
                                <input type="mobileNumber" name="mobileNumber" ng-model="investor.mobileNumber"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       mobileNumber-validate required=""
                                       type="mobileNumber" id="inputmobileNumber"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.mobileNumber')} }}">

                            </div>
                             <span class="label label-danger"
                                   translate="com.app.ind.label.mobileNumber.cannot.null"
                                   translate-values="{value:translateKey('com.app.ind.label.name')}"
                                   ng-show="addInvestorF.mobileNumber.$error.required && addInvestorF.$submitted"
                                     ></span>
                        </div>
                        <!--email-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputEmail"><span translate="com.app.ind.investor.label.email"></span></label>
                                <input type="text"  class="immediate-help form-control"
                                       ng-model-options="{ debounce: 250 }"
                                       email-validate autocomplete="off"  ng-model="investor.email" id="inputEmail"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.email')} }}"/>
                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.investor.label.email"></span></b> <span translate="com.app.ind.label.validation"></span>::</h4>
                                    <ul>
                                        <li ng-class="emailValidator"><span translate="com.app.ind.label.valid"></span></strong></li>
                                        <li ng-class="emailExist"><span translate="com.app.ind.label.unique"></span></li>
                                    </ul>
                                </div>

                            </div>
                            <input type="hidden"
                                   ng-model="investor.createdBy" id="createdBy" >
                            <input type="hidden"
                                   ng-model="investor.updatedBy" id="updatedBy" >
                        </div>
                        <!-- bankName -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputbankName"><span translate="com.app.ind.investor.label.bankName"></span></label>
                                <input type="bankName" name="bankName" ng-model="investor.bankName"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       bankName-validate 
                                       type="bankName" id="inputbankName"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.bankName')} }}">
                            </div>
                        </div>
                        <!-- branchName -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputbranchName"><span translate="com.app.ind.investor.label.branchName"></span></label>
                                <input type="branchName" name="branchName" ng-model="investor.branchName"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       branchName-validate 
                                       type="branchName" id="inputbranchName"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.branchName')} }}">

                            </div>
                        </div>
                        <!-- branchCode -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputbranchCode"><span translate="com.app.ind.investor.label.branchCode"></span></label>
                                <input type="branchCode" name="branchCode" ng-model="investor.branchCode"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       branchCode-validate 
                                       type="branchCode" id="inputbranchCode"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.branchCode')} }}">


                            </div>
                        </div>
                        <!-- bankAccount -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputbankAccount"><span translate="com.app.ind.investor.label.bankAccount"></span></label>
                                <input type="bankAccount" name="bankAccount" ng-model="investor.bankAccount"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       bankAccount-validate 
                                       type="bankAccount" id="inputbankAccount"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.bankAccount')} }}">


                            </div>
                        </div>
                        <!-- bankAccountType -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputbankAccountType"><span translate="com.app.ind.investor.label.bankAccountType"></span></label>
                                <input type="bankAccountType" name="bankAccountType" ng-model="investor.bankAccountType"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       bankAccountType-validate 
                                       type="bankAccountType" id="inputbankAccountType"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.bankAccountType')} }}">

                            </div>
                        </div>
                        <!--investedAmount-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="investedAmountType"><span translate="com.app.ind.investor.label.investedAmount"></span></label>
                                <input type="investedAmountType" name="bankAccountType" ng-model="investor.investedAmount"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       bankAccountType-validate
                                       type="bankAccountType" id="investedAmountType"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.investedAmount')} }}">

                            </div>
                        </div>
                        <!--amountInPercentage-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="amountInPercentageType"><span translate="com.app.ind.investor.label.amountInPercentage"></span></label>
                                <input type="amountInPercentage" name="bankAccountType" ng-model="investor.amountInPercentage"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       bankAccountType-validate
                                       type="bankAccountType" id="amountInPercentageType"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.amountInPercentage')} }}">

                            </div>
                        </div>
                        <!--status-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="status"><span translate="com.app.ind.investor.label.status"></span>*</label>
                                <div>
                                    <input
                                            bs-switch
                                            ng-model="investor.status"
                                            type="checkbox"
                                            switch-active="{{ status }}"
                                            switch-readonly="{{ isReadonly }}"
                                            switch-size=" mini "
                                            switch-animate="{{ animate }}"
                                            switch-label="Active"
                                            switch-icon="{{ icon }}"
                                            switch-on-text="Yes"
                                            switch-off-text="No"
                                            switch-on-color="info"
                                            switch-off-color="danger"
                                            switch-inverse="{{ inverse }}"
                                            ng-true-value="'YES'"
                                            ng-false-value="'NO'">
                                </div>

                            </div>
                        </div>
                        <!-- deActivateReason -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputdeActivateReason"><span translate="com.app.ind.investor.label.deActivateReason"></span></label>
                                <input type="deActivateReason" name="deActivateReason" ng-model="investor.deActivateReason"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       deActivateReason-validate 
                                       type="deActivateReason" id="inputdeActivateReason"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.investor.label.deActivateReason')} }}">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="col-lg-6" align="center" >
                                <button type="submit" class="btn btn-primary" ng-click="addInvestorF.$submitted=true">
                                    <span translate="com.app.ind.label.create"></span></button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>




</div>

