<!--<%--
  Created by IntelliJ IDEA.
  investor: Umar
  Date: 11/7/14
  Time: 6:34 PM
--%>-->
        <div ng-controller="detailInvestorController" ng-show="hasPermission('investor:show')">
            <div class="modal-header">
                <h1><span translate="com.app.ind.label.show"
                 translate-values="{className:translateKey('com.app.ind.label.investor'),name:investor.name}"></span></h1>

            </div>
            <div class="modal-body">
                <dl>
                    <dt><span translate="com.app.ind.investor.label.name"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"investor.name","permission":"investor:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityInvestor($data,investor,'name')">{{investor.name || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.sirName"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"investor.sirName","permission":"investor:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityInvestor($data,investor,'sirName')">{{investor.sirName || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.reference"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"investor.reference","permission":"investor:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityInvestor($data,investor,'reference')">{{investor.reference || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.address"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"investor.address","permission":"investor:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityInvestor($data,investor,'address')">{{investor.address || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.mobileNumber"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"investor.mobileNumber","permission":"investor:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityInvestor($data,investor,'mobileNumber')">{{investor.mobileNumber || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.email"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"investor.email","permission":"investor:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityInvestor($data,investor,'email')">{{investor.email || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.bankName"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"investor.bankName","permission":"investor:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityInvestor($data,investor,'bankName')">{{investor.bankName || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.branchName"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"investor.branchName","permission":"investor:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityInvestor($data,investor,'branchName')">{{investor.branchName || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.branchCode"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"investor.branchCode","permission":"investor:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityInvestor($data,investor,'branchCode')">{{investor.branchCode || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.bankAccount"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"investor.bankAccount","permission":"investor:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityInvestor($data,investor,'bankAccount')">{{investor.bankAccount || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.bankAccountType"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"investor.bankAccountType","permission":"investor:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityInvestor($data,investor,'bankAccountType')">{{investor.bankAccountType || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.investedAmount"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"investor.investedAmount","permission":"investor:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityInvestor($data,investor,'investedAmount')">{{investor.investedAmount || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.investor.label.amountInPercentage"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"investor.amountInPercentage","permission":"investor:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityInvestor($data,investor,'amountInPercentage')">{{investor.amountInPercentage || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                <dt><span translate="com.app.ind.investor.label.status"> </span></dt>
                    <dd>
                        <a  exeditable='{"type":"checkbox","model":"investor.status","permission":"investor:update"}'
                            e-valid blur="cancel"  buttons="no"
                            e-title="{{investor.status && ('com.app.ind.investor.label.block' | translate) || ('com.app.ind.investor.label.active' | translate)}}"
                            onbeforesave="editEntityInvestor($data,investor,'status')">
                            {{ investor.status && ('com.app.ind.investor.label.active' | translate) || ('com.app.ind.investor.label.block' | translate) }}
                        </a>
                    </dd>
               </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.employee.label.deactivateReason"> </span> </dt>
                    <dd>
                     <span exeditable='{"type":"text","model":"investor.deactivateReason","permission":"investor:update"}'
                           blur="cancel"
                           buttons="no" e-valid  onbeforesave="editEntityInvestor($data,investor,'deactivateReason')">{{investor.deactivateReason || ('com.app.ind.label.empty' | translate)}}
                         </span></dd>
                </dl>
                <dl>
                    <dt><span translate="com.app.ind.label.dateCreated"> </span></dt>
                    <dd>{{(investor.dateCreated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar }} </dd>
                </dl>
                <div class="divider"></div>

                <dl>
                    <dt><span translate="com.app.ind.label.lastUpdated"> </span></dt>
                    <dd>{{(investor.lastUpdated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar  }}</dd>
                </dl>

                <dl>
                    <dt><span translate="com.app.ind.user.label.createdBy"> </span> </dt>
                    <dd  ><a ng-show="hasPermission('user:show')" href="#/investor/user/{{createdByUser.id}}">{{createdByUser.username}}</a></dd>
                    <span ng-show="!hasPermission('user:show')">{{createdByUser.username}}</span>
                </dl>
                <dl>
                    <dt><span translate="com.app.ind.user.label.updatedBy"> </span> </dt>
                    <dd ><a  ng-show="hasPermission('user:show')" href="#/investor/user/{{updatedByUser.id}}">{{updatedByUser.username}}</a>
                    <span ng-show="!hasPermission('user:show')">{{updatedByUser.username}}</span>
                    </dd>
                </dl>
            </div>

        </div>



