<div ng-show="hasPermission('investor:index')" class="content" ng-controller="listInvestorController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.app.ind.label.list"  translate-values="{name:translateKey('com.app.ind.label.investor')}"></span>
                            </div>
                            <div class="pull-right">
                                <button  ng-if="hasPermission('investor:delete')" id="tesyt" class="btn btn-danger btn-xs"
                                         ng-click="deletedSelected()" ng-show="getCheckedinvestors().length > 0 ">

                                    <i class="glyphicon glyphicon-trash"></i> <span translate="com.app.ind.label.delete"></span>
                                </button>
                                <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs"><span translate="com.app.ind.label.clear.sorting"></span>
                                </button>
                                <button ng-controller="addNewInvestorController"  ng-if="hasPermission('investor:create')"
                                        class="btn btn-primary btn-xs" ng-click="addNew()">
                                    <i class="glyphicon glyphicon-plus-sign"></i> <span translate="com.app.ind.label.create"></span></button>
                            </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding ">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams"  show-filter="true"
                               class="table table-condensed table-bordered">

                            <tr ng-repeat="investor in investors" class="tableRow">

                                <td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
                                    <input class="checkboxTable" type="checkbox" ng-model="investor.checked"/>
                                </td>
                                <td data-title="'com.app.ind.investor.label.name' | translate" filter="{ 'name': 'text' }" sortable="'name'">
                                    <span  exeditable='{"type":"text","model":"investor.name","permission":"investor:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityInvestor($data,investor,'name')">
                                        {{investor.name || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.investor.label.sirName' | translate" filter="{ 'sirName': 'text' }" sortable="'sirName'">
                                    <span  exeditable='{"type":"text","model":"investor.sirName","permission":"investor:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityInvestor($data,investor,'sirName')">
                                        {{investor.sirName || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.investor.label.mobileNumber' | translate" filter="{ 'mobileNumber': 'text' }" sortable="'mobileNumber'">
                                    <span  exeditable='{"type":"text","model":"investor.mobileNumber","permission":"investor:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityInvestor($data,investor,'mobileNumber')">
                                        {{investor.mobileNumber || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>

                                <td data-title="'com.app.ind.investor.label.email' | translate"  filter="{ 'email': 'text' }" sortable="'email'">
                       <span exeditable='{"type":"text","model":"investor.email","permission":"investor:update"}'
                             blur="cancel" buttons="no" e-valid
                             onbeforesave="editEntityInvestor($data,investor,'email')">
                           {{investor.email || ('com.app.ind.label.empty' | translate)}}</i>

                       </span>

                                </td>
                                <td  data-title="'com.app.ind.investor.label.status' | translate" filter="{ 'status': 'select' }"
                                     filter-data="isActiveStatus()" sortable="'status'">
                                    <a  exeditable='{"type":"checkbox","model":"investor.status","permission":"investor:activateOrBlockInvestor"}'
                                        e-valid blur="cancel" buttons="no"
                                        e-title="{{investor.status && ('com.app.ind.investor.label.block' | translate) || ('com.app.ind.investor.label.status' | translate)}}"
                                        onbeforesave="editEntityInvestor($data,investor,'status')">
                                        {{ investor.status && ('com.app.ind.investor.label.active' | translate) || ('com.app.ind.investor.label.block' | translate) }}
                                    </a>

                                </td>

                                <td   data-title="'com.app.ind.label.action' | translate">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>

                                        <ul ng-if="hasPermission('investor:show') || hasPermission('investor:delete')" class="dropdown-menu pull-right" id="myUll">
                                            <li>

                                                <a  href="#/investor/details/{{investor.id}}" ng-if="hasPermission('investor:show')"  ><i
                                                        class="glyphicon glyphicon-info-sign"> <span translate="com.app.ind.label.detail"></span></i>
                                                </a>

                                            </li>
                                            <li>

                                                <a  ng-if="hasPermission('investor:delete')" ng-click="deleteInvestor($index)" ><i
                                                        class="glyphicon glyphicon-remove"> <span translate="com.app.ind.label.delete"></span></i>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type='checkbox' class="checkboxTable" ng-show="investors.length > 0" ng-checked="allChecked()" ng-model="allchecked" ng-change="checkAll(allchecked)" >
</script>
<script type="text/ng-template" id="ng-table/filters/age.html">
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="Yes" /> <span translate="com.app.ind.label.active"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="No" /> <span translate="com.app.ind.label.block"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age"  /> <span translate="com.app.ind.label.all"></span>
</script>





