<div  ng-show="hasPermission('assetApp:create')" ng-controller="addNewAssetAppController as assetApp">
    <div class="row">
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class=" box-solid" style="background: transparent">
            <div class="box-header">
                <h1 class="box-title"><span translate="com.app.ind.label.property.name" translate-values="{name:'assetApp'}"></span></h1>

            </div>

            <div class="box-body"   >
                <form role="form" ng-submit="saveAssetApp(addAssetAppF.$invalid)" name="addAssetAppF" novalidate>
                    <div class="col-sm-10">
                        <!--name-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="name"><span translate="com.app.ind.assetApp.label.name"></span>*</label>
                                <input type="text" autocomplete="off" ng-model="assetApp.name" ng-required="true" name="name"  url-name="/assetApp/nameExist"
                                       class-name="assetApp" maxlength="15" ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control" id="name"  name-validate
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.label.name')} }}">
                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.label.name"></span></b> <span translate="com.app.ind.label.validation"></span>:</h4>
                                    <ul>
                                        <li ng-class="nameValidLength"><span translate="com.app.ind.label.atLeast"></span>
                                            <b translate="com.app.ind.label.character" translate-values="{number:'5'}"></b></li>
                                        <li ng-class="nameExist"><span translate="com.app.ind.label.unique"></span></li>
                                    </ul>
                                </div>

                                <span class="label label-danger"
                                      translate="com.app.ind.label.name.cannot.null" translate-values="{value:translateKey('com.app.ind.label.name')}"
                                      ng-show="addAssetAppF.name.$error.required && addAssetAppF.$submitted"
                                        ></span>
                            </div>

                        </div>
                        <!--make-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputmake"><span translate="com.app.ind.assetApp.label.make"></span></label>
                                <input type="make" name="make" ng-model="assetApp.make"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       make-validate 
                                       type="make" id="inputmake"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.assetApp.label.make')} }}">

                            </div>
                        </div>
                        <!--model-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputmodel"><span translate="com.app.ind.assetApp.label.model"></span></label>
                                <input type="model" name="model" ng-model="assetApp.model"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       model-validate
                                       type="model" id="inputmodel"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.assetApp.label.model')} }}">

                            </div>
                        </div>
                        <!--serialNumber-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputserialNumber"><span translate="com.app.ind.assetApp.label.serialNumber"></span></label>
                                <input type="serialNumber" name="serialNumber" ng-model="assetApp.serialNumber"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       serialNumber-validate
                                       type="serialNumber" id="inputserialNumber"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.assetApp.label.serialNumber')} }}">

                            </div>
                        </div>
                        <!--warranty-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="warranty"><span translate="com.app.ind.assetApp.label.warranty"></span></label>
                                <div>
                                    <input
                                            bs-switch
                                            checked
                                            ng-model="assetApp.warranty"
                                            type="checkbox"
                                            switch-active="{{ warranty }}"
                                            switch-readonly="{{ isReadonly }}"
                                            switch-size=" mini "
                                            switch-animate="{{ animate }}"
                                            switch-label="Active"
                                            switch-icon="{{ icon }}"
                                            switch-on-text="Yes"
                                            switch-off-text="No"
                                            switch-on-color="info"
                                            switch-off-color="danger"
                                            switch-inverse="{{ inverse }}"
                                            ng-true-value="'YES'"
                                            ng-false-value="'NO'">
                                </div>

                            </div>
                        </div>
                        <!-- size -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputsize"><span translate="com.app.ind.assetApp.label.size"></span></label>
                                <input type="size" name="size" ng-model="assetApp.size"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       size-validate 
                                       type="size" id="inputsize"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.assetApp.label.size')} }}">


                            </div>
                        </div>
                        <!--purchaseDate-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputpurchaseDate"><span translate="com.app.ind.assetApp.label.purchaseDate"></span></label>
                                <input type="purchaseDate" name="purchaseDate" ng-model="assetApp.purchaseDate"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       purchaseDate-validate 
                                       type="purchaseDate" id="inputpurchaseDate"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.assetApp.label.purchaseDate')} }}">

                            </div>
                        </div>
                        <!--expiryDate-->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputexpiryDate"><span translate="com.app.ind.assetApp.label.expiryDate"></span></label>
                                <input type="expiryDate" name="expiryDate" ng-model="assetApp.expiryDate"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       expiryDate-validate
                                       type="expiryDate" id="inputexpiryDate"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.assetApp.label.expiryDate')} }}">



                            </div>
                        </div>
                        <!-- warrantyDate -->
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="inputwarrantyDate"><span translate="com.app.ind.assetApp.label.warrantyDate"></span></label>
                                <input type="warrantyDate" name="warrantyDate" ng-model="assetApp.warrantyDate"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       mobileNumber-validate
                                       type="warrantyDate" id="inputwarrantyDate"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.assetApp.label.warrantyDate')} }}">

                            </div>
                             <span class="label label-danger"
                                   translate="com.app.ind.label.mobileNumber.cannot.null"
                                   translate-values="{value:translateKey('com.app.ind.label.name')}"
                                   ng-show="addAssetAppF.warrantyDate.$error.required && addAssetAppF.$submitted"
                                     ></span>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-lg-6" align="center" >
                                <button type="submit" class="btn btn-primary" ng-click="addAssetAppF.$submitted=true">
                                    <span translate="com.app.ind.label.create"></span></button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>




</div>

