<!--<%--
  Created by IntelliJ IDEA.
  assetApp: Umar
  Date: 11/7/14
  Time: 6:34 PM
--%>-->
        <div ng-controller="detailAssetAppController" ng-show="hasPermission('assetApp:show')">
            <div class="modal-header">
                <h1><span translate="com.app.ind.label.show"
                 translate-values="{className:translateKey('com.app.ind.label.assetApp'),name:assetApp.name}"></span></h1>

            </div>
            <div class="modal-body">
                <dl>
                    <dt><span translate="com.app.ind.assetApp.label.name"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"assetApp.name","permission":"assetApp:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityAssetApp($data,assetApp,'name')">{{assetApp.name || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.assetApp.label.make"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"assetApp.make","permission":"assetApp:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityAssetApp($data,assetApp,'make')">{{assetApp.make || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.assetApp.label.model"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"assetApp.model","permission":"assetApp:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityAssetApp($data,assetApp,'model')">{{assetApp.model || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.assetApp.label.serialNumber"> </span> </dt>
                    <dd><span exeditable='{"type":"number","model":"assetApp.serialNumber","permission":"assetApp:update"}'
                             blur="cancel" buttons="no"
                             onbeforesave="editEntityAssetApp($data,assetApp,'serialNumber')">{{assetApp.serialNumber || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.assetApp.label.size"> </span> </dt>
                    <dd><span exeditable='{"type":"number","model":"assetApp.size","permission":"assetApp:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityAssetApp($data,assetApp,'size')">{{assetApp.size || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.assetApp.label.purchaseDate"> </span> </dt>
                    <dd><span exeditable='{"type":"date","model":"assetApp.purchaseDate","permission":"assetApp:update"}'
                              blur="submit" buttons="no"
                              onbeforesave="editEntityAssetApp($data,assetApp,'purchaseDate')">
                         {{((assetApp.purchaseDate | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' ) || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.assetApp.label.expiryDate"> </span> </dt>
                    <dd><span exeditable='{"type":"date","model":"assetApp.expiryDate","permission":"assetApp:update"}'
                              blur="submit" buttons="no"
                              onbeforesave="editEntityAssetApp($data,assetApp,'expiryDate')">
                        {{((assetApp.expiryDate | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' )|| ("com.app.ind.label.empty" | translate)}}
                    </span></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt><span translate="com.app.ind.assetApp.label.warrantyDate"> </span> </dt>
                    <dd><span exeditable='{"type":"date","model":"assetApp.warrantyDate","permission":"assetApp:update"}'
                              blur="submit" buttons="no"
                              onbeforesave="editEntityAssetApp($data,assetApp,'warrantyDate')">
                        {{((assetApp.warrantyDate | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' ) || ("com.app.ind.label.empty" | translate)}}
                    </span></dd>
                </dl>
                
                <div class="divider"></div>
                <dl>
                <dt><span translate="com.app.ind.assetApp.label.warranty"> </span></dt>
                    <dd>
                        <a  exeditable='{"type":"checkbox","model":"assetApp.warranty","permission":"assetApp:update"}'
                            e-valid blur="cancel"  buttons="no"
                            e-title="{{assetApp.warranty && ('com.app.ind.assetApp.label.block' | translate) || ('com.app.ind.assetApp.label.active' | translate)}}"
                            onbeforesave="editEntityAssetApp($data,assetApp,'warranty')">
                            {{ assetApp.warranty && ('com.app.ind.assetApp.label.active' | translate) || ('com.app.ind.assetApp.label.block' | translate) }}
                        </a>
                    </dd>
               </dl>
                <dl>
                    <dt><span translate="com.app.ind.label.dateCreated"> </span></dt>
                    <dd>{{(assetApp.dateCreated | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' }} </dd>
                </dl>
                <div class="divider"></div>

                <dl>
                    <dt><span translate="com.app.ind.label.lastUpdated"> </span></dt>
                    <dd>{{(assetApp.lastUpdated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar  }}</dd>
                </dl>

                <dl>
                    <dt><span translate="com.app.ind.user.label.createdBy"> </span> </dt>
                    <dd  ><a ng-show="hasPermission('user:show')" href="#/assetApp/user/{{createdByUser.id}}">{{createdByUser.username}}</a></dd>
                    <span ng-show="!hasPermission('user:show')">{{createdByUser.username}}</span>
                </dl>
                <dl>
                    <dt><span translate="com.app.ind.user.label.updatedBy"> </span> </dt>
                    <dd ><a  ng-show="hasPermission('user:show')" href="#/assetApp/user/{{updatedByUser.id}}">{{updatedByUser.username}}</a>
                    <span ng-show="!hasPermission('user:show')">{{updatedByUser.username}}</span>
                    </dd>
                </dl>
            </div>

        </div>



