<div ng-show="hasPermission('assetApp:index')" class="content" ng-controller="listAssetAppController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.app.ind.label.list"  translate-values="{name:translateKey('com.app.ind.label.assetApp')}"></span>
                            </div>
                            <div class="pull-right">
                                <button  ng-if="hasPermission('assetApp:delete')" id="tesyt" class="btn btn-danger btn-xs"
                                         ng-click="deletedSelected()" ng-show="getCheckedassetApps().length > 0 ">

                                    <i class="glyphicon glyphicon-trash"></i> <span translate="com.app.ind.label.delete"></span>
                                </button>
                                <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs"><span translate="com.app.ind.label.clear.sorting"></span>
                                </button>
                                <a href="#/assetApp/create"   ng-if="hasPermission('assetApp:create')"
                                        class="btn btn-primary btn-xs" ng-click="addNew()">
                                    <i class="glyphicon glyphicon-plus-sign"></i> <span translate="com.app.ind.label.create"></span></a>
                            </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding ">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams"  show-filter="true"
                               class="table table-condensed table-bordered">

                            <tr ng-repeat="assetApp in assetApps" class="tableRow">

                                <td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
                                    <input class="checkboxTable" type="checkbox" ng-model="assetApp.checked"/>
                                </td>
                                <td data-title="'com.app.ind.assetApp.label.name' | translate" filter="{ 'name': 'text' }" sortable="'name'">
                                    <span  exeditable='{"type":"text","model":"assetApp.name","permission":"assetApp:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityAssetApp($data,assetApp,'name')">
                                        {{assetApp.name || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.assetApp.label.make' | translate" filter="{ 'make': 'text' }" sortable="'make'">
                                    <span  exeditable='{"type":"text","model":"assetApp.make","permission":"assetApp:update"}'
                                           blur="cancel" buttons="no"  onaftersave="editEntityAssetApp($data,assetApp,'make')">
                                        {{assetApp.make || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.assetApp.label.expiryDate' | translate" filter="{ 'expiryDate': 'text' }" sortable="'expiryDate'">
                                    <span   exeditable='{"type":"date","model":"assetApp.expiryDate","permission":"assetApp:update"}'
                                           blur="submit" buttons="no"  onaftersave="editEntityAssetApp($data,assetApp,'expiryDate')">
                                        {{((assetApp.expiryDate | date:'MM-dd-yyyy HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' ) || ('com.app.ind.label.empty' | translate)}}</span>
                                </td>
                                <td  data-title="'com.app.ind.assetApp.label.warranty' | translate" filter="{ 'warranty': 'select' }"
                                     filter-data="isActiveStatus()" sortable="'warranty'">
                                    <a  exeditable='{"type":"checkbox","model":"assetApp.warranty","permission":"assetApp:update"}'
                                        e-valid blur="cancel" buttons="no"
                                        e-title="{{assetApp.warranty && ('com.app.ind.assetApp.label.block' | translate) || ('com.app.ind.assetApp.label.warranty' | translate)}}"
                                        onbeforesave="editEntityAssetApp($data,assetApp,'warranty')">
                                        {{ assetApp.warranty && ('com.app.ind.assetApp.label.active' | translate) || ('com.app.ind.assetApp.label.block' | translate) }}
                                    </a>

                                </td>

                                <td   data-title="'com.app.ind.label.action' | translate">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>

                                        <ul ng-if="hasPermission('assetApp:show') || hasPermission('assetApp:delete')" class="dropdown-menu pull-right" id="myUll">
                                            <li>

                                                <a  href="#/assetApp/details/{{assetApp.id}}" ng-if="hasPermission('assetApp:show')"  ><i
                                                        class="glyphicon glyphicon-info-sign"> <span translate="com.app.ind.label.detail"></span></i>
                                                </a>

                                            </li>
                                            <li>

                                                <a  ng-if="hasPermission('assetApp:delete')" ng-click="deleteAssetApp($index)" ><i
                                                        class="glyphicon glyphicon-remove"> <span translate="com.app.ind.label.delete"></span></i>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type='checkbox' class="checkboxTable" ng-show="assetApps.length > 0" ng-checked="allChecked()" ng-model="allchecked" ng-change="checkAll(allchecked)" >
</script>
<script type="text/ng-template" id="ng-table/filters/age.html">
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="Yes" /> <span translate="com.app.ind.label.active"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="No" /> <span translate="com.app.ind.label.block"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age"  /> <span translate="com.app.ind.label.all"></span>
</script>





