<div  ng-show="hasPermission('user:create')" ng-controller="addNewRoleController as role">
    <div class="row">
        <div class="box box-solid" style="margin-top: -30px;background: transparent">
            <div class="box-header">
                <h1 class="box-title"><span translate="com.app.ind.label.property.name" translate-values="{name:translateKey('com.app.ind.label.role')}"></span></h1>

            </div>
            <div>
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <div class="box-body" style="padding-left: 200px">
                <form role="form"  name="formRole" ng-submit="saveRole(formRole.$invalid)" novalidate>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="name"><span translate="com.app.ind.label.name"></span>*</label>
                                <input type="text" autocomplete="off" ng-model="role.name" ng-required="true" name="name"  url-name="/role/nameExist"
                                       class-name="role" maxlength="15" ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control" id="name"  name-validate
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.label.name')} }}">
                                <div class="input-help">
                                    <h4><b><span translate="com.app.ind.label.name"></span></b> <span translate="com.app.ind.label.validation"></span>:</h4>
                                    <ul>
                                        <li ng-class="nameValidLength"><span translate="com.app.ind.label.atLeast"></span>
                                            <b translate="com.app.ind.label.character" translate-values="{number:'5'}"></b></li>
                                        <li ng-class="nameExist"><span translate="com.app.ind.label.unique"></span></li>
                                    </ul>
                                </div>
                                <span class="label label-danger"
                                      translate="com.app.ind.label.name.cannot.null" translate-values="{value:translateKey('com.app.ind.label.name')}"
                                      ng-show="formRole.name.$error.required && formRole.$submitted"
                                        ></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="description"><span translate="com.app.ind.label.description"></span></label>
                                <textarea ng-model="role.description" name="description" ng-model-options="{ debounce: 250 }"
                                       class="form-control" id="description"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.label.description')} }}">

                                       </textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                            <div class="col-lg-6" align="center" >
                                <button type="submit" class="btn btn-primary" ng-click="formRole.$submitted=true"><span translate="com.app.ind.label.create"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>




</div>

