<div class="modal-header">
    <h1>
           <span translate="com.app.ind.label.show"
                 translate-values="{className:translateKey('com.app.ind.label.role'),name:role.name}"></span>
    </h1>
</div>
<div class="modal-body">
    <dl>
        <dt><span translate="com.app.ind.label.name"> </span> </dt>
        <dd><span  editable-text="role.name"
                   blur="cancel" buttons="no"
                   onbeforesave="editEntityRole($data,role,'name')">{{role.name || ("com.app.ind.label.empty" | translate) }}
           </span></dd>
    </dl>
    <div class="divider"></div>
    <dl>
        <dt><span translate="com.app.ind.label.description"> </span> </dt>
        <dd>
            <span editable-text="role.description" blur="cancel" buttons="no" e-valid
                  onbeforesave="editEntityRole($data,role,'description')">
                {{role.description || ("com.app.ind.label.empty" | translate)  }}</span></dd>
    </dl>
    <div class="divider"></div>
    <dl>
        <dt><span translate="com.app.ind.label.dateCreated"> </span></dt>
        <dd>{{(role.dateCreated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar }} </dd>
    </dl>
    <div class="divider"></div>

    <dl>
        <dt><span translate="com.app.ind.label.lastUpdated"> </span></dt>
        <dd>{{(role.lastUpdated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar  }}</dd>
    </dl>
</div>