<div class="content" ng-controller="detailRoleController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -38px">
                <div class="box-body">
                    <tabset>
                        <tab>
                            <tab-heading>
                                <i class="fa fa-book"></i> <span translate="com.app.ind.label.detail" translate-values="{name:translateKey('com.app.ind.label.role')}"></span>
                            </tab-heading>
                            <role-detail-page id="roleId"></role-detail-page>
                        </tab>
                        <tab select="currentPermission()" id="roleId" ng-controller="detailRolePermissionCtrl" >
                            <tab-heading>
                                <i class="fa fa-pinterest-square"></i> <span translate="com.app.ind.label.permission.plural"></span>
                            </tab-heading>
                            <role-permission-list />
                        </tab>
                        <tab select="currentMember()" id="roleId" ng-controller="detailRoleUserCtrl">
                            <tab-heading>
                                <i class="fa fa-users"></i> <span translate="com.app.ind.label.user.plural"></span>
                            </tab-heading>
                            <role-member-list />
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
