<div class="row">
    <div class="jumbotron">
        <div align="center">

            <h3>
                <span translate="com.app.ind.dashboard.message1"
                      >

                </span>
            </h3>
            <h4 class="panel-title ">
                <a data-toggle="collapse"  class="btn btn-primary btn-xs pull-right" data-parent="#accordion" href="#collapseOne">
                    <span translate="com.app.ind.label.readMore"></span>
                </a>
            </h4>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="panel panel-footer panel-info">
                <h4>
                    <span translate="com.app.ind.dashboard.message2"
                          ></span>
                </h4>
            </div>
            <div class="panel panel-footer panel-primary">
                <h4>
                    <span translate="com.app.ind.dashboard.message3" >  </span>
                </h4>
            </div>
            <div class="panel panel-footer panel-info">
                <h4>
                    <span translate="com.app.ind.dashboard.message4"
                         ></span>
                </h4>
            </div>
            <div class="panel panel-footer panel-warning">
                <h4>
                    <span translate="com.app.ind.dashboard.message5"
                          ></span>
                </h4>
            </div>

        </div>
    </div>
</div>