<div  ng-show="hasPermission('jobs:create')" ng-controller="addNewJobsController as jobs">
    <div class="row">
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class=" box-solid" style="background: transparent">
            <div class="box-header">
                <h1 class="box-title"><span translate="com.app.ind.label.property.name" translate-values="{name:'jobs'}"></span></h1>

            </div>

            <div class="box-body"   >
                <form role="form" ng-submit="saveJobs(addJobsF.$invalid)" name="addJobsF" novalidate>
                    <div class="col-sm-10">

                        <!--JobNumber and ApproxTime-->
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="inputjobNumber"><span translate="com.app.ind.jobs.label.jobNumber"></span></label>
                                <input type="text" name="jobNumber" ng-model="jobs.jobNumber"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputjobNumber"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.jobNumber')} }}">

                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputapproxTime"><span translate="com.app.ind.jobs.label.approxTime"></span></label>
                                <input type="number" name="make" ng-model="jobs.approxTime"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputapproxTime"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.approxTime')} }}">

                            </div>
                        </div>
                        <!--jobTitle and startTime -->
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="inputjobTitle"><span translate="com.app.ind.jobs.label.jobTitle"></span></label>
                                <input type="text" name="jobTitle" ng-model="jobs.jobTitle"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputjobTitle"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.jobTitle')} }}">

                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputstartTime"><span translate="com.app.ind.jobs.label.startTime"></span></label>
                                <input type="time" name="startTime" ng-model="jobs.startTime"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputstartTime"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.endTime')} }}">
                                <label for="inputendTime"><span translate="com.app.ind.jobs.label.endTime"></span></label>
                                <input type="time" name="endTime" ng-model="jobs.endTime"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputendTime"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.endTime')} }}">

                            </div>
                        </div>
                        <!--machineFileName and markingOnJob -->
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="inputmachineFileName"><span translate="com.app.ind.jobs.label.machineFileName"></span></label>
                                <input type="text" name="machineFileName" ng-model="jobs.machineFileName"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputmachineFileName"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.machineFileName')} }}">

                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputmarkingOnJob"><span translate="com.app.ind.jobs.label.markingOnJob"></span></label>
                                <input type="text" name="make" ng-model="jobs.markingOnJob"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputmarkingOnJob"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.markingOnJob')} }}">


                            </div>
                        </div>
                        <!--programedBy and mirror -->
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="inputprogramedBy"><span translate="com.app.ind.jobs.label.programedBy"></span></label>
                                <select ng-model="jobs.programedBy"
                                        class="immediate-help form-control chosen-select"
                                        name="programedBy" required=""
                                        id="inputprogramedBy"
                                        placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.programedBy')} }}"
                                        ng-options="employee.id as  employee.name
                                        for employee in employeeList">
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputmirror"><span translate="com.app.ind.jobs.label.mirror"></span></label>
                                <input type="text" name="mirror" ng-model="jobs.mirror"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputmirror"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.mirror')} }}">


                            </div>
                        </div>
                        <!--settingsBy and clearance -->
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="inputsettingsBy"><span translate="com.app.ind.jobs.label.settingsBy"></span></label>
                                <select ng-model="jobs.settingsBy"
                                        class="immediate-help form-control chosen-select"
                                        name="programedBy" required=""
                                        id="inputsettingsBy"
                                        placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.settingsBy')} }}"
                                        ng-options="employee.id as  employee.name
                                        for employee in employeeList">
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputclearance"><span translate="com.app.ind.jobs.label.clearance"></span></label>
                                <input type="text" name="clearance" ng-model="jobs.clearance"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputclearance"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.clearance')} }}">


                            </div>
                        </div>
                        <!--checkedBy and offSet -->
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="inputcheckedBy"><span translate="com.app.ind.jobs.label.checkedBy"></span></label>
                                <select ng-model="jobs.checkedBy"
                                        class="immediate-help form-control chosen-select"
                                        name="checkedBy" required=""
                                        id="inputcheckedBy"
                                        placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.checkedBy')} }}"
                                        ng-options="employee.id as  employee.name
                                        for employee in employeeList">
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputoffSet"><span translate="com.app.ind.jobs.label.offSet"></span></label>
                                <input type="text" name="offSet" ng-model="jobs.offSet"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputoffSet"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.offSet')} }}">


                            </div>
                        </div>
                        <!--assignTo and programSize -->
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="inputassignTo"><span translate="com.app.ind.jobs.label.assignTo"></span></label>
                                <select ng-model="jobs.assignTo"
                                        class="immediate-help form-control chosen-select"
                                        name="assignTo" required=""
                                        id="inputassignTo"
                                        placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.customer.label.assignTo')} }}"
                                        ng-options="employee.id as  employee.name
                                        for employee in employeeList">
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputprogramSize"><span translate="com.app.ind.jobs.label.programSize"></span></label>
                                <input type="number" name="offSet" ng-model="jobs.programSize"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputprogramSize"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.programSize')} }}">


                            </div>
                        </div>
                        <!--committedDate and originalSize -->
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="inputcommittedDate"><span translate="com.app.ind.jobs.label.committedDate"></span></label>
                                <input type="date" name="committedDate" ng-model="jobs.committedDate"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputcommittedDate"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.committedDate')} }}">


                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputoriginalSize"><span translate="com.app.ind.jobs.label.originalSize"></span></label>
                                <input type="text" name="originalSize" ng-model="jobs.originalSize"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputoriginalSize"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.originalSize')} }}">


                            </div>
                        </div>
                        <!--saleAccountName and saleAccountNo -->
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="inputsaleAccountName"><span translate="com.app.ind.jobs.label.saleAccountName"></span></label>
                                <input type="text" name="saleAccountName" ng-model="jobs.saleAccountName"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputsaleAccountName"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.saleAccountName')} }}">


                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputsaleAccountNo"><span translate="com.app.ind.jobs.label.saleAccountNo"></span></label>
                                <input type="text" name="saleAccountNo" ng-model="jobs.saleAccountNo"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputsaleAccountNo"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.saleAccountNo')} }}">


                            </div>
                        </div>
                        <!--wire Cut-->
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <label for="inputwcLength"><span translate="com.app.ind.jobs.label.wcLength"></span></label>
                                <input type="number" name="wcLength" ng-model="jobs.wcLength"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputwcLength"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.wcLength')} }}">


                            </div>
                            <div class="form-group col-lg-2">
                                <label for="inputwcHeight"><span translate="com.app.ind.jobs.label.wcHeight"></span></label>
                                <input type="number" name="wcHeight" ng-model="jobs.wcHeight"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputwcHeight"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.wcHeight')} }}">


                            </div>
                            <div class="form-group col-lg-2">
                                <label for="inputwcQuantityHours"><span translate="com.app.ind.jobs.label.wcQuantityHours"></span></label>
                                <input type="number" name="wcQuantityHours" ng-model="jobs.wcQuantityHours"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputwcQuantityHours"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.wcQuantityHours')} }}">


                            </div>
                            <div class="form-group col-lg-2">
                                <label for="inputwcRate"><span translate="com.app.ind.jobs.label.wcRate"></span></label>
                                <input type="number" name="wcRate" ng-model="jobs.wcRate"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputwcRate"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.wcRate')} }}">


                            </div>
                            <div class="form-group col-lg-2">
                                <label for="inputwcTotal"><span translate="com.app.ind.jobs.label.wcTotal"></span></label>
                                <input type="hidden" name="wcTotal" ng-model="jobs.wcTotal"
                                       ng-model-options="{ debounce: 250 }"
                                       class="immediate-help form-control"
                                       id="inputwcTotal"
                                       placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.wcTotal')} }}">
                                {{jobs.wcTotal}}
                            </div>
                        </div>
                        <!--currentRatio And Priority-->
                       <div class="row">
                           <div class=" col-lg-6">
                               <label for="inputcurrentRatio1"><span translate="com.app.ind.jobs.label.currentRatio"></span></label>
                               <input type="checkbox" name="currentRatio1" ng-model="jobs.currentRatio1" ng-true-value="'YES'" ng-false-value="'NO'"
                                      id="inputcurrentRatio1"
                                      placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.currentRatio')} }}">
                               <input type="checkbox" name="currentRatio2" ng-model="jobs.currentRatio2" ng-true-value="'YES'" ng-false-value="'NO'"
                                      id="inputcurrentRatio2"
                                      placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.currentRatio')} }}">
                               <input type="checkbox" name="currentRatio3" ng-model="jobs.currentRatio3" ng-true-value="'YES'" ng-false-value="'NO'"
                                      id="inputcurrentRatio3"
                                      placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.currentRatio')} }}">
                               <input type="checkbox" name="currentRatio4" ng-model="jobs.currentRati04" ng-true-value="'YES'" ng-false-value="'NO'"
                                      id="inputcurrentRatio4"
                                      placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.currentRatio')} }}">
                               <input type="checkbox" name="currentRatio5" ng-model="jobs.currentRati05" ng-true-value="'YES'" ng-false-value="'NO'"
                                      id="inputcurrentRatio5"
                                      placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.currentRatio')} }}">


                           </div>

                           <div class=" col-lg-6">
                               <label for="inputpriority1"><span translate="com.app.ind.jobs.label.priority"></span></label>
                               <input type="checkbox" name="priority1" ng-model="jobs.priority1" ng-true-value="'YES'" ng-false-value="'NO'"
                                      id="inputpriority1"
                                      placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.priority')} }}">

                               <input type="checkbox" name="priority2" ng-model="jobs.priority2" ng-true-value="'YES'" ng-false-value="'NO'"
                                      id="inputpriority2"
                                      placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.priority')} }}">
                               <input type="checkbox" name="priority3" ng-model="jobs.priority3" ng-true-value="'YES'" ng-false-value="'NO'"
                                      id="inputpriority3"
                                      placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.priority')} }}">
                               <input type="checkbox" name="priority4" ng-model="jobs.priority4" ng-true-value="'YES'" ng-false-value="'NO'"
                                      id="inputpriority4"
                                      placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.priority')} }}">
                           </div>
                       </div>
                        <div class="divider"></div>
                        <!--customerComments And operatorComments-->
                        <div class="row">
                            <div class=" col-lg-6">
                                <label for="inputcustomerComments"><span translate="com.app.ind.jobs.label.customerComments"></span></label>
                                <textarea  name="customerComments" ng-model="jobs.customerComments"
                                           ng-model-options="{ debounce: 250 }"
                                           class="immediate-help form-control"
                                           id="inputcustomerComments"
                                           placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.customerComments')} }}"/>

                            </div>
                            <div class="col-lg-6">
                                <label for="inputoperatorComments"><span translate="com.app.ind.jobs.label.operatorComments"></span></label>
                                <textarea  name="operatorComments" ng-model="jobs.operatorComments"
                                           ng-model-options="{ debounce: 250 }"
                                           class="immediate-help form-control"
                                           id="inputoperatorComments"
                                           placeholder="{{'com.app.ind.label.enterText' | translate:{value:translateKey('com.app.ind.jobs.label.operatorComments')} }}"/>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="col-lg-6" align="center" >
                                <button type="submit" class="btn btn-primary" ng-click="addJobsF.$submitted=true">
                                    <span translate="com.app.ind.label.create"></span></button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>




</div>
<script>
    $('.datepicker').datepicker();
    $('.datepickerTime').datepicker({
        pickDate: false
    });
    window.setTimeout(function chose(){

        $('.chosen-select').chosen();
    }, 1000);
    //    function chose(){

    //  $('.chosen-select').chosen();
    //    }

</script>

