<!--<%--
  Created by IntelliJ IDEA.
  jobs: Umar
  Date: 11/7/14
  Time: 6:34 PM
--%>-->
<div ng-controller="detailJobsController" ng-show="hasPermission('jobs:show')">
    <div class="modal-header">
        <h1><span translate="com.app.ind.label.show"
                  translate-values="{className:translateKey('com.app.ind.label.jobs'),name:jobs.name}"></span></h1>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-log-2">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.jobNumber"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.jobNumber","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'jobNumber')">{{jobs.jobNumber || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-log-2">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.approxTime"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.approxTime","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'approxTime')">{{jobs.approxTime || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.jobTitle"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.jobTitle","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'jobTitle')">{{jobs.jobTitle || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.startTime"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.startTime","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'startTime')">{{jobs.startTime || ("com.app.ind.label.empty" | translate) }}
                    </span>
                    </dd>
                    <dt><span translate="com.app.ind.jobs.label.endTime"> </span></dt>
                    <dd>     <span exeditable='{"type":"text","model":"jobs.endTime","permission":"jobs:update"}'
                                   blur="cancel" buttons="no"
                                   onbeforesave="editEntityJobs($data,jobs,'endTime')">{{jobs.endTime || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.machineFileName"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.machineFileName","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'machineFileName')">{{jobs.machineFileName || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.markingOnJob"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.markingOnJob","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'markingOnJob')">{{jobs.markingOnJob || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.programedBy"> </span> </dt>
                    <dd><a href="#" blur="cancel" class="chosen-select" onshow="chosenSelect()"
                           buttons="no" exeditable='{"type":"select","model":"jobs.programedBy","permission":"jobs:update"}'
                           onbeforesave="editEntityBooking($data,jobs,'programedBy')"

                           e-ng-options="employee.id as employee.name for employee in employeeList">
                        {{ (employeeList | filter : jobs.programedBy)[0].name   || 'not set' }}
                    </a></dd>
                </dl>
            </div>
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.mirror"> </span> </dt>
                    <dd><span exeditable='{"type":"number","model":"jobs.mirror","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'mirror')">{{jobs.mirror || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.settingsBy"> </span> </dt>
                    <dd><a href="#" blur="cancel" class="chosen-select" onshow="chosenSelect()"
                           buttons="no" exeditable='{"type":"select","model":"jobs.settingsBy","permission":"jobs:update"}'
                           onbeforesave="editEntityBooking($data,jobs,'settingsBy')"

                           e-ng-options="employee.id as employee.name for employee in employeeList">
                        {{ (employeeList | filter : jobs.settingsBy)[0].name   || 'not set' }}
                    </a></dd>
                </dl>
            </div>
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.clearance"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.clearance","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'clearance')">{{jobs.clearance || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.checkedBy"> </span> </dt>
                    <dd><a href="#" blur="cancel" class="chosen-select" onshow="chosenSelect()"
                           buttons="no" exeditable='{"type":"select","model":"jobs.checkedBy","permission":"jobs:update"}'
                           onbeforesave="editEntityBooking($data,jobs,'settingsBy')"

                           e-ng-options="employee.id as employee.name for employee in employeeList">
                        {{ (employeeList | filter : jobs.checkedBy)[0].name   || 'not set' }}
                    </a></dd>
                </dl>
            </div>
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.offSet"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.offSet","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'offSet')">{{jobs.offSet || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.assignTo"> </span> </dt>
                    <dd><a href="#" blur="cancel" class="chosen-select" onshow="chosenSelect()"
                           buttons="no" exeditable='{"type":"select","model":"jobs.assignTo","permission":"jobs:update"}'
                           onbeforesave="editEntityBooking($data,jobs,'assignTo')"

                           e-ng-options="employee.id as employee.name for employee in employeeList">
                        {{ (employeeList | filter : jobs.assignTo)[0].name   || 'not set' }}
                    </a></dd>
                </dl>
            </div>
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.programSize"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.programSize","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'programSize')">{{jobs.programSize || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.committedDate"> </span> </dt>
                    <dd><span exeditable='{"type":"date","model":"jobs.committedDate","permission":"jobs:update"}'
                              blur="submit" buttons="no"
                              onbeforesave="editEntityBooking($data,jobs,'committedDate')">
                         {{((jobs.committedDate | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' ) || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.originalSize"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.originalSize","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'originalSize')">{{jobs.originalSize || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.saleAccountName"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.saleAccountName","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'saleAccountName')">{{jobs.saleAccountName || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.saleAccountNo"> </span> </dt>
                    <dd><span exeditable='{"type":"number","model":"jobs.saleAccountNo","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'saleAccountNo')">{{jobs.saleAccountNo || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.wcLength"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.wcLength","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'wcLength')">{{jobs.wcLength || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-lg-2">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.wcHeight"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.wcHeight","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'wcHeight')">{{jobs.wcHeight || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-lg-2">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.wcQuantityHours"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.wcQuantityHours","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'wcQuantityHours')">{{jobs.wcQuantityHours || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-lg-2">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.wcRate"> </span> </dt>
                    <dd><span exeditable='{"type":"text","model":"jobs.wcRate","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'wcRate')">{{jobs.wcRate || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-lg-2">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.wcTotal"> </span> </dt>
                    <dd><span blur="cancel" buttons="no">{{jobs.wcTotal = (jobs.wcLength * jobs.wcHeight * jobs.wcQuantityHours * jobs.wcRate ) || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>

            </div>

        </div>
        <div class="row">
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.currentRatio"> kldfjl;ekmglekrng</span> </dt>
                    <dd><span exeditable='{"type":"number","model":"jobs.currentRatio","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'currentRatio')">{{jobs.currentRatio || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-log-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.priority"> </span> </dt>
                    <dd><span exeditable='{"type":"number","model":"jobs.priority","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'priority')">{{jobs.priority || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.customerComments"> </span> </dt>
                    <dd><span exeditable='{"type":"textarea","model":"jobs.customerComments","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'customerComments')">{{jobs.customerComments || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
            <div class="col-lg-6">
                <dl>
                    <dt><span translate="com.app.ind.jobs.label.customerComments"> </span> </dt>
                    <dd><span exeditable='{"type":"textarea","model":"jobs.customerComments","permission":"jobs:update"}'
                              blur="cancel" buttons="no"
                              onbeforesave="editEntityJobs($data,jobs,'customerComments')">{{jobs.customerComments || ("com.app.ind.label.empty" | translate) }}
                    </span></dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <dl>
                    <dt><span translate="com.app.ind.label.dateCreated"> </span></dt>
                    <dd>{{(jobs.dateCreated | date:'yyyy-MM-dd HH:mm:ss') | amDateFormat:'dddd, MMMM Do YYYY' }} </dd>
                </dl>
            </div>
            <div class="col-lg-6">
                <dl>
                    <dt><span translate="com.app.ind.label.lastUpdated"> </span></dt>
                    <dd>{{(jobs.lastUpdated | date:'yyyy-MM-dd HH:mm:ss') | amCalendar  }}</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

                <dl>
                    <dt><span translate="com.app.ind.user.label.createdBy"> </span> </dt>
                    <dd  ><a ng-show="hasPermission('user:show')" href="#/jobs/user/{{createdByUser.id}}">{{createdByUser.username}}</a></dd>
                    <span ng-show="!hasPermission('user:show')">{{createdByUser.username}}</span>
                </dl>
            </div>
            <div class="col-lg-6">
                <dl>
                    <dt><span translate="com.app.ind.user.label.updatedBy"> </span> </dt>
                    <dd ><a  ng-show="hasPermission('user:show')" href="#/jobs/user/{{updatedByUser.id}}">{{updatedByUser.username}}</a>
                        <span ng-show="!hasPermission('user:show')">{{updatedByUser.username}}</span>
                    </dd>
                </dl>
            </div>
        </div>




    </div>
</div>



