<div ng-show="hasPermission('jobs:index')" class="content" ng-controller="listJobsController">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="margin-top: -50px">
                <div class="box-header">
                    <h1>
                        <div class="row">
                            <div class="pull-left">
                                <span translate="com.app.ind.label.list"  translate-values="{name:translateKey('com.app.ind.label.jobs')}"></span>
                            </div>
                            <div class="pull-right">
                                <button  ng-if="hasPermission('jobs:delete')" id="tesyt" class="btn btn-danger btn-xs"
                                         ng-click="deletedSelected()" ng-show="getCheckedjobss().length > 0 ">

                                    <i class="glyphicon glyphicon-trash"></i> <span translate="com.app.ind.label.delete"></span>
                                </button>
                                <button ng-click="tableParams.sorting({})" class="btn btn-link btn-xs"><span translate="com.app.ind.label.clear.sorting"></span>
                                </button>
                                <a href="#/jobs/create"   ng-if="hasPermission('jobs:create')"
                                        class="btn btn-primary btn-xs" ng-click="addNew()">
                                    <i class="glyphicon glyphicon-plus-sign"></i> <span translate="com.app.ind.label.create"></span></a>
                            </div>
                        </div>

                    </h1>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding ">
                    <div loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams"  show-filter="true"
                               class="table table-condensed table-bordered">

                            <tr ng-repeat="jobs in jobss" class="tableRow">

                                <td class="checkboxTable" header="'ng-table/headers/checkbox.html'">
                                    <input class="checkboxTable" type="checkbox" ng-model="jobs.checked"/>
                                </td>
                                <td data-title="'com.app.ind.jobs.label.id' | translate" >
                                    <span>
                                        {{jobs.id || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.jobs.label.jobTitle' | translate" >
                                    <span >
                                        {{jobs.jobTitle || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>
                                <td data-title="'com.app.ind.jobs.label.wcTotal' | translate" >
                                    <span >
                                        {{jobs.wcTotal || ('com.app.ind.label.empty' | translate) }}</span>
                                </td>


                                <td   data-title="'com.app.ind.label.action' | translate">
                                    <div class="btn-group">
                                        <a class="btn btn-xs  btn-primary dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false"  data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span class="caret"></span>
                                        </a>

                                        <ul ng-if="hasPermission('jobs:show') || hasPermission('jobs:delete')" class="dropdown-menu pull-right" id="myUll">
                                            <li>

                                                <a  href="#/jobs/details/{{jobs.id}}" ng-if="hasPermission('jobs:show')"  ><i
                                                        class="glyphicon glyphicon-info-sign"> <span translate="com.app.ind.label.detail"></span></i>
                                                </a>

                                            </li>
                                            <li>

                                                <a  ng-if="hasPermission('jobs:delete')" ng-click="deleteJobs($index)" ><i
                                                        class="glyphicon glyphicon-remove"> <span translate="com.app.ind.label.delete"></span></i>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type='checkbox' class="checkboxTable" ng-show="jobss.length > 0" ng-checked="allChecked()" ng-model="allchecked" ng-change="checkAll(allchecked)" >
</script>
<script type="text/ng-template" id="ng-table/filters/age.html">
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="Yes" /> <span translate="com.app.ind.label.active"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age" value="No" /> <span translate="com.app.ind.label.block"></span>
    <input type="radio" ng-model="params.filter()[name]" name="filter-age"  /> <span translate="com.app.ind.label.all"></span>
</script>





